/**
* Copyright (c) 2012-2016 SAP SE, All Rights Reserved
* Theming Engine 1.28.3
* data:{"sModified":"2017-10-10T14:01:32Z","sCheck":"H0.01-438ea313"}
*/

@import "custom.less";

/******************* FILE /Base/baseLib/cxcwebsite34/base.less (Version 11.0.3) *******************/

@sapScrollBar_FaceColor: darken(@sapBaseColor,10);
@sapToolbar_SeparatorColor: rgba(255,255,255, 0.2);
@sapBrandColor: #000;
@sapBaseColor: #fff;
@sapList_HeaderBackground: @sapBaseColor;
@sapPageHeader_BorderColor: #333333;
@sapButton_BorderCornerRadius: 0px;
@sapLinkColor: #7d7d7d;
@sapContent_MarkerIconColor: #a3a3a3;
@sapButton_BorderColor: @sapBrandColor;
@sapContent_ForegroundBorderColor: rgba(191,191,191, 0);
@sapField_BorderColor: transparent;
@sapGroup_ContentBorderColor: rgba(235,235,235, 0);
@sapGroup_TitleBorderColor: rgba(204,204,204, 0);
@sapList_BorderColor: transparent;
@sapScrollBar_BorderColor: #ffffff;
@sapToolbar_Background: transparent;
@sapInfobar_Background: #666666;
@sapButton_Background: @sapBaseColor;
@sapButton_Emphasized_Background: @sapBaseColor;
@sapButton_Emphasized_TextColor: @sapBrandColor;
@sapButton_Hover_Background: @sapBrandColor;
@sapButton_Hover_BorderColor: @sapButton_Hover_Background;
@sapButton_Hover_TextColor: contrast(@sapButton_Hover_Background);
@sapButton_TextColor: @sapTextColor;
@sapButton_Emphasized_BorderColor: @sapBrandColor;
@sapShell_Background: @sapBackgroundColor;
@sapContent_ContrastFocusColor: #dfdfdf;
@sapTile_Background: @sapContent_ContrastFocusColor;
@sapShell_BackgroundPatternColor: @sapBaseColor;
@sapField_Background: contrast(@sapBackgroundColor, darken(@sapBackgroundColor, 20), lighten(@sapBackgroundColor, 20));
@sapList_Background: contrast(@sapBackgroundColor, darken(@sapBackgroundColor, 5), lighten(@sapBackgroundColor, 5));
@sapPageFooter_Background: #e9e9e9;
@sapSelectedColor: @sapBrandColor;
@sapList_SelectionBackgroundColor: darken(@sapList_Hover_Background,10);
@sapPositiveColor: #4fb81e;
@sapNegativeColor: #e35500;
@sapChart_Bad: #e35500;
@sapChart_Good: #4fb81e;
@sapShell_BackgroundImageRepeat: false;
@sapShell_BackgroundImage: linear-gradient(to bottom left, darken(@sapBaseColor, 5), @sapBaseColor);
@sapBackgroundColor: @sapBaseColor;
@sapContent_ContrastTextThreshold: 0;
@sapTextColor: lighten(desaturate(contrast(@sapBackgroundColor),100),20);
@sapShell_TextColor: @sapBrandColor;
@sapTitleColor: @sapBrandColor;
@sapHighlightColor: darken(@sapBrandColor,10);
@sapField_TextColor: contrast(@sapField_Background);
