/**
* Copyright (c) 2012-2016 SAP SE, All Rights Reserved
*
* Theming Engine 1.28.3
* data:{"Path": "Base.baseLib.cxcwebsite34.preview", "PathPattern": "/%frameworkId%/%libId%/%themeId%/%fileId%.css", "IECssRuleLimitFiles": [], "Extends": ["sap_belize","sap_bluecrystal","sap_goldreflection","baseTheme"], "Tags": ["Fiori_2"], "Version": { "Build":"11.0.3.20171010160132", "Source": "11.0.3", "Engine": "1.28.3"}}
*/

.sapThemeMetaData-Base-baseLib{background-image: url('data:text/plain;utf-8,{"Path": "Base.baseLib.cxcwebsite34.preview", "PathPattern": "/%frameworkId%/%libId%/%themeId%/%fileId%.css", "IECssRuleLimitFiles": [], "Extends": ["sap_belize","sap_bluecrystal","sap_goldreflection","baseTheme"], "Tags": ["Fiori_2"], "Version": { "Build":"11.0.3.20171010160132", "Source": "11.0.3", "Engine": "1.28.3"}}');}

/**
* Base.baseLib.baseTheme.base (Version 11.0.3)
*/

.sapSvgLibs {
  background-image: none, url('../../../Base/baseLib/sap_belize/svg/libs/SAPGUI-icons.svg'), url('../../../Base/baseLib/sap_belize/svg/libs/SAPWeb-icons.svg');
}
.sapSvgIconPositive {
  fill: #4fb81e !important;
}
.sapSvgIconCritical {
  fill: #e78c07 !important;
}
.sapSvgIconNegative {
  fill: #e35500 !important;
}

/**
* Base.baseLib.baseTheme.preview (Version 11.0.3)
*/


/**
* Base.baseLib.sap_goldreflection.base (Version 11.0.3)
*/


/**
* Base.baseLib.sap_goldreflection.preview (Version 11.0.3)
*/


/**
* Base.baseLib.sap_bluecrystal.base (Version 11.0.3)
*/


/**
* Base.baseLib.sap_bluecrystal.preview (Version 11.0.3)
*/


/**
* Base.baseLib.sap_belize.base (Version 11.0.3)
*/


/**
* Base.baseLib.sap_belize.preview (Version 11.0.3)
*/


/**
* Base.baseLib.cxcwebsite34.custom (Version 11.0.3)
*/


/**
* Base.baseLib.cxcwebsite34.base (Version 11.0.3)
*/


/**
* Base.baseLib.cxcwebsite34.preview (Version 11.0.3)
*/

