/**
* Copyright (c) 2012-2016 SAP SE, All Rights Reserved
*
* Theming Engine 1.28.3
* data:{"Path": "UI5.sap/suite/ui/generic/template.cxcwebsite34.library", "PathPattern": "/%frameworkId%/%libId%/themes/%themeId%/%fileId%.css", "IECssRuleLimitFiles": [], "Extends": ["sap_belize","base"], "Version": { "Build":"1.48.7.20171010160132", "Source": "1.48.7", "Engine": "1.28.3"}}
*/

.sapThemeMetaData-UI5-sap-suite-ui-generic-template{background-image: url('data:text/plain;utf-8,{"Path": "UI5.sap/suite/ui/generic/template.cxcwebsite34.library", "PathPattern": "/%frameworkId%/%libId%/themes/%themeId%/%fileId%.css", "IECssRuleLimitFiles": [], "Extends": ["sap_belize","base"], "Version": { "Build":"1.48.7.20171010160132", "Source": "1.48.7", "Engine": "1.28.3"}}');}
/******************* FILE /Base/baseLib/baseTheme/base.less (Version 11.0.3) *******************/
.sapSvgLibs {
  background-image: none, url(../../../../../../../../Base/baseLib/sap_belize/svg/libs/SAPGUI-icons.svg), url(../../../../../../../../Base/baseLib/sap_belize/svg/libs/SAPWeb-icons.svg);
}
.sapSvgIconPositive {
  fill: #4fb81e !important;
}
.sapSvgIconCritical {
  fill: #e78c07 !important;
}
.sapSvgIconNegative {
  fill: #e35500 !important;
}
/******************* FILE /UI5/sap/ui/core/themes/base/global.less (Version 1.48.8) *******************/


/******************* FILE /UI5/sap/suite/ui/generic/template/themes/base/library.less (Version 1.48.7) *******************/

/* START "ListReport.less" */
.sapSmartTemplatesListReportDraftInfoIcon.sapUiIcon {
  font-family: SAP-icons;
  font-size: 1rem;
  padding-right: 0.5rem;
}
.sapSmartTemplatesListReportFilterSummary {
  cursor: pointer;
}
.sapSmartTemplatesListReportSLIPositive > .sapMLIBContent > .sapMSLIImgIcon {
  color: #4fb81e;
  font-size: 1rem;
}
.sapSmartTemplatesListReportSLINeutral > .sapMLIBContent > .sapMSLIImgIcon {
  color: #5e696e;
  font-size: 1rem;
}
.sapSmartTemplatesListReportSLINegative > .sapMLIBContent > .sapMSLIImgIcon {
  color: #e35500;
  font-size: 1rem;
}
.sapSmartTemplatesListReportSLICritical > .sapMLIBContent > .sapMSLIImgIcon {
  color: #e78c07;
  font-size: 1rem;
}
.sapSmartTemplatesListReportFirstText {
  overflow: visible;
  font-weight: bold;
  display: inline-block;
  word-wrap: break-word;
  white-space: normal;
}
/* END "ListReport.less" */
/* START "ObjectPage.less" */
.sapUiMedia-Std-Desktop .sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderImage,
.sapUiMedia-Std-Tablet .sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderImage {
  height: 6rem;
  width: 6rem;
  border: 1px solid #000000;
}
.sapUiMedia-Std-Phone .sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderImage {
  height: 3rem;
  width: 3rem;
  border: 1px solid #000000;
}
.sapUiMedia-Std-Desktop .sapSmartTemplatesObjectPage .sapUxAPObjectPageContentObjectImage-Circle .sapSmartTemplatesObjectPageHeaderImage,
.sapUiMedia-Std-Tablet .sapSmartTemplatesObjectPage .sapUxAPObjectPageContentObjectImage-Circle .sapSmartTemplatesObjectPageHeaderImage {
  border-radius: 100%;
}
.sapUiMedia-Std-Phone .sapSmartTemplatesObjectPage .sapUxAPObjectPageContentObjectImage-Circle .sapSmartTemplatesObjectPageHeaderImage {
  border-radius: 100%;
}
.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderIdentifier .sapUxAPObjectPageHeaderObjectImageForce .sapUxAPObjectPageHeaderObjectImage,
.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderStickied .sapUxAPObjectPageHeaderIdentifier .sapUxAPObjectPageHeaderObjectImage {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid #000000;
}
.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderContent .sapUxAPObjectPageHeaderContentItem.sapSmartTemplatesObjectPageHeaderImage {
  margin-right: 2rem;
}
.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderContent .sapUxAPObjectPageHeaderContentItem {
  margin-right: 3rem;
  line-height: 1.320rem;
}
html[dir="rtl"] .sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderContent .sapUxAPObjectPageHeaderContentItem {
  margin-right: 0;
  margin-left: 3rem;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderAddress .sapSmartTemplatesObjectPageHeaderAddressLabel {
  margin-bottom: 0.5rem;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderAddress .sapSmartTemplatesObjectPageHeaderAddressValue {
  line-height: 1.5rem;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageContactsImage {
  line-height: 3rem;
  margin-right: .75rem;
  font-size: 2.25rem;
  font-weight: normal;
  width: 3rem;
  height: 3rem;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageDataPoint .sapSmartTemplatesObjectPageDataPointLabel,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderContact .sapSmartTemplatesObjectPageHeaderContactLabel {
  margin-bottom: 0.5rem;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderContact .sapSmartTemplatesObjectPageHeaderContactLink,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageDataPoint .sapSmartTemplatesObjectPageDataPointValue .sapMText,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageDataPoint .sapSmartTemplatesObjectPageDataPointValue .sapMLnk,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageDataPoint .sapSmartTemplatesObjectPageDataPointValue .sapMText.sapUiCompSmartFieldUnit,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageDataPoint .sapSmartTemplatesObjectPageDataPointValue .sapMObjStatusText {
  font-size: 1.375rem;
  line-height: 1.5rem;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderContact .sapSmartTemplatesObjectPageHeaderContactLinkIcon {
  font-size: 1.125rem;
  line-height: 1.125rem;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageDataPoint div:nth-child(2) .sapMObjStatusIcon {
  display: none;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageDataPoint .sapUiCompUOM > div:nth-child(2) {
  max-width: initial;
  min-width: initial;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageContactsList .sapSmartTemplatesObjectPageContactsListItem {
  border: 0;
  float: left;
  width: 24rem;
  padding: 0;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageContactsList .sapMGrowingList {
  clear: both;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageContactsList .sapSmartTemplatesObjectPageContactsListContactTitle {
  font-size: 1rem;
  margin-top: 0.1rem;
  max-width: 19.25rem;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageContactsList .sapSmartTemplatesObjectPageContactsListContactSubTitle {
  margin-top: 0.3rem;
}
.sapSmartTemplatesObjectPageContactsQuickView .sapUiSimpleForm .sapUiRGLContainerCont {
  padding-bottom: 0;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesSmartForm .sapMTB {
  display: none;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesSmartForm .sapUiFormTitle:empty {
  margin: 0;
  height: 0;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesSmartForm .sapUiFormResGridMain,
.sapSmartTemplatesObjectPage .sapSmartTemplatesSmartForm .sapUiFormTitle {
  padding-right: 0;
  padding-left: 0;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesSmartForm .sapUiFormResGridCont > div {
  padding-right: 0;
  padding-left: 0;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderCollection > div:nth-child(n+2) {
  margin-top: 0.5rem;
}
.sapUiMedia-Std-Desktop .sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderContent,
.sapUiMedia-Std-Desktop .sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderIdentifier {
  padding-left: 3rem;
  padding-right: 0;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderPlainText {
  max-width: 300px;
}
.sapSmartTemplatesObjectPageHeaderProgressIndicatorControl {
  margin-bottom: 0 !important;
  margin-top: 1rem;
}
.sapSmartTemplatesFooterFloatRight,
.sapSmartTemplatesObjectPageHeaderProgressIndicatorFooter {
  float: right;
}
.sapSmartTemplatesObjectPageHeaderProgressIndicatorFooter {
  margin-top: 0.375rem;
  border: 0;
  background-color: inherit;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderForm .sapSmartTemplatesObjectPageHeaderFormTitle,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderPlainText .sapSmartTemplatesObjectPageHeaderPlainTextTitle {
  font-size: 16px;
  margin-bottom: 0.9rem;
  line-height: 1rem;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderPlainText .sapSmartTemplatesObjectPageHeaderPlainTextField {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5rem;
  margin-top: -0.125rem;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderMiniChartTitle {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderMiniChartSubTitle {
  font-size: 0.875rem;
  font-weight: normal;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesFooterFloatRight {
  float: right;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderForm.sapMLabel:after,
.sapSmartTemplatesObjectPageHeaderFormLabel.sapMLabel:after,
.sapSmartTemplatesObjectPageDataPointLabel.sapMLabel:after {
  content: ":";
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderForm .sapSmartTemplatesObjectPageHeaderFormField .sapMText,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderForm .sapSmartTemplatesObjectPageHeaderFormField .sapMLnk,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderForm .sapSmartTemplatesObjectPageHeaderFormField.sapMLnk,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderForm .sapSmartTemplatesObjectPageHeaderFormLabel {
  font-size: 0.875rem;
  line-height: 1.320rem;
}
html[dir="rtl"] .sapUiMedia-Std-Tablet .sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderContent {
  padding-right: 3rem;
  padding-left: 0;
}
html[dir="rtl"] .sapUiMedia-Std-Desktop .sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderContent {
  padding-right: 3rem;
  padding-left: 0;
}
html[dir="rtl"] .sapUiMedia-Std-Tablet .sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderIdentifier {
  padding-right: 3rem;
  padding-left: 0;
}
html[dir="rtl"] .sapUiMedia-Std-Desktop .sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderIdentifier {
  padding-right: 3rem;
  padding-left: 0;
}
.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderIdentifier .sapSmartTemplatesShareMenuButton .sapMBtnInner.sapMBtnIconFirst,
.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderIdentifier .sapSmartTemplatesUpAndDownNavigation .sapMBtnInner.sapMBtnIconFirst {
  padding: 0;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageSubSectionGrid {
  margin-right: -1rem;
}
html[dir="rtl"] .sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageSubSectionGrid {
  margin-left: -1rem;
  margin-right: 0;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageSubSectionGrid > div > * {
  padding-right: 1rem;
}
html[dir="rtl"] .sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageSubSectionGrid > div > * {
  padding-left: 1rem;
  padding-right: 0;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageSubSection .sapSmartTemplatesObjectPageSubSectionDummyBlock {
  width: 1px;
  margin: 0px;
  height: 1px;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageDataFieldVBoxLabel {
  padding-top: 0.625rem;
  padding-bottom: 0.125rem;
}
.sapSLIPositive > .sapMLIBContent > .sapMSLIImgIcon {
  color: #4fb81e;
}
.sapSLINeutral > .sapMLIBContent > .sapMSLIImgIcon {
  color: #5e696e;
}
.sapSLINegative > .sapMLIBContent > .sapMSLIImgIcon {
  color: #e35500;
}
.sapSLICritical > .sapMLIBContent > .sapMSLIImgIcon {
  color: #e78c07;
}
/* END "ALPConstants.less" */
.alr_contentContainer .sapMBtnTransparent.sapMSegBBtnSel > .sapMBtnIcon {
  color: #333333;
}
.alr_contentContainer .sapMIBar > .sapMBarChild.sapMSegB:last-child {
  margin-right: 0;
}
.alr_masterExtension {
  overflow: hidden;
}
.alr_filterContainer.sapUiVlt {
  display: block;
  overflow: inherit;
}
.alr_chartContainer {
  overflow: hidden;
}
.alr_inheritHeight {
  height: inherit;
}
.alrCompactFilter {
  border-bottom: none;
}
/***** Required end *****/
/***** UI Tweaks start *****/
.analyticalListPage .sapMTB {
  border-bottom-color: transparent;
}
.sapUiCompSmartFullScreenDialog .alr_contentContainer .sapMTB {
  border-bottom-color: transparent;
}
.alpFilterDialogToolbar.sapMTB {
  border-bottom-color: transparent;
}
.sapSmartTemplatesAnalyticalListPageSmartChart .sapMTB {
  border-bottom-color: transparent;
}
.sapMTB-Transparent-CTX .sapMLabel.alr_contentMeasureTitle {
  font-weight: bold;
}
.sapMListBGTranslucent .alr_rowHighlighted.sapMLIB.sapMListTblRow {
  background-color: #e6edf3;
}
.alr_rowHighlighted {
  background-color: #e6edf3;
}
.sapUiTableCtrl .sapUiTableGroupHeader.alr_rowHighlighted {
  background-color: #e6edf3;
}
.sapUiTableRowHdr.sapUiTableGroupHeader.alr_rowHighlighted {
  background-color: #e6edf3;
}
.sapUiTable .sapUiTableCtrl .sapUiTableRowHvr.alr_rowHighlighted > td {
  background-color: #e6edf3;
}
.sapUiTable .sapUiTableRowHdr.sapUiTableGroupHeader.sapUiTableRowHvr.alr_rowHighlighted {
  background-color: #e6edf3;
}
.alr_dshToolbar {
  margin-bottom: 0.75rem;
  border-bottom-color: transparent;
}
.alr_tableContainer > .sapUiCompSmartTable .sapMTB {
  margin-bottom: 0.75rem;
  border-bottom-color: transparent;
}
.alr_visualFilterToolbar.sapMIBar > .sapMBarChild:last-child {
  margin-right: 0;
}
.alr_visualFilterToolbar.sapMIBar .sapMBarChild:first-child {
  margin-left: 1.25rem;
}
.sapSuiteVisualFilterBar {
  height: 10rem !important;
}
.sapSuiteVisualFilterBar .ui5-viz-controls-viz-frame .v-datapoint-group .v-datapoint > rect {
  rx: 3px;
  ry: 3px;
}
.alr_visualFilterToolbar {
  margin-right: 2rem;
}
.alr_visualFilterToolbar.closed {
  margin-bottom: 1rem;
}
.alr_visualFilterTitleToolbar.sapMTB {
  /* not possible to hide the line at the bottom of the toolbar via settings, have to do this via CSS*/
  border-bottom: none;
  padding: 0 0 0.5rem 0.15rem;
}
.sapUiSizeCompact .sapFDynamicPageTitleWrapper > .alpDynamicPageTitle {
  height: 32px;
  padding: 0.5rem 2rem 0.5rem 1.8rem;
  border: none;
}
.sapUiSizeCompact .sapFDynamicPageTitleWrapper > .alr_pageHeader {
  padding: 0.5rem 2rem 0.5rem 2.3rem;
}
.sapFDynamicPageContentFitContainer .alr_contentContainer {
  padding: 0 0 0 0;
}
.sapMFlexBox.sapMFlexBoxAlignContentStretch.sapMFlexBoxAlignItemsEnd {
  padding: 0 0 0 0;
}
/***** UI Tweaks end *****/
/***** new controls start *****/
/**************** KPI TAG START ****************/
.alrKpiTagContainer {
  margin-left: 21px;
}
.alrKpiTag {
  height: 1.75rem;
  align-items: center;
  background-color: #f2f2f2;
  border-left-width: 3px;
  border-style: solid;
  border-top-style: none;
  border-bottom-style: none;
  border-right-style: none;
  margin-top: 2px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
}
.alrKpiTag:hover {
  background-color: #e3e3e3;
}
.alrKpiTagValue {
  text-align: right;
  line-height: 1.4;
  padding-left: 1rem;
  padding-right: 0.5rem;
}
.alrKpiTagName {
  color: #666666;
  line-height: 1.4;
  text-align: left;
  padding-left: 0.5rem;
}
.alrKPINeutral {
  color: #5e696e;
  border-left-color: #5e696e;
}
.alrKPICritical {
  color: #e78c07;
  border-left-color: #f9a429;
}
.alrKPIPositive {
  color: #4fb81e;
  border-left-color: #64dd2c;
}
.alrKPINegative {
  color: #e35500;
  border-left-color: #ff6e17;
}
.alpKpiCardStyle {
  min-height: 37.5rem;
  min-width: 25rem;
}
/**************** KPI TAG END ****************/
.alpVFOverflow {
  background-color: #ffffff;
  opacity: 1;
  border-color: rgba(66, 124, 172, 0.2);
  font-size: 0.875rem;
  border-width: 1px;
  border-style: solid;
  white-space: pre-line;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: initial;
  text-align: center;
}
.alrRequiredTitle {
  position: relative;
  left: 0.2rem;
}
.alrRequiredLabel:before {
  content: "*";
  color: #c14646;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 0;
  position: relative;
  top: 0.5rem;
  right: 0.5rem;
}
.alpSelectedLinkDialog {
  min-width: 15rem;
}

/******************* FILE /Base/baseLib/sap_belize/base.less (Version 11.0.3) *******************/
/******************* FILE /UI5/sap/ui/core/themes/sap_belize/global.less (Version 1.48.8) *******************/
/******************* FILE /UI5/sap/suite/ui/generic/template/themes/sap_belize/library.less (Version 1.48.7) *******************/

/* START "ListReport.less" */
.sapSmartTemplatesListReportDraftInfoIcon.sapUiIcon {
  color: #d3d3d3;
}
/* END "ListReport.less" */
/* START "ObjectPage.less" */
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageContactsList .sapSmartTemplatesObjectPageContactsListContactSubTitle {
  color: #666666;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageContactsImage {
  background-color: #f2f2f2;
  color: #bfbfbf;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageContactsListItem {
  background-color: transparent;
}
.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderContent .sapUxAPObjectPageHeaderContentItem.sapSmartTemplatesObjectPageHeaderImage,
.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderIdentifier .sapUxAPObjectPageHeaderObjectImageForce .sapUxAPObjectPageHeaderObjectImage,
.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderStickied .sapUxAPObjectPageHeaderIdentifier .sapUxAPObjectPageHeaderObjectImage {
  border-color: #ebebeb;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderForm .sapSmartTemplatesObjectPageHeaderFormLabel,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderContact .sapSmartTemplatesObjectPageHeaderContactLinkIcon {
  color: #666666;
}
.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderDetails .sapSmartTemplatesObjectPageHeaderMiniChartTitle {
  color: #000000;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderMiniChartSubTitle {
  color: #666666;
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderForm .sapSmartTemplatesObjectPageHeaderFormTitle,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderPlainText .sapSmartTemplatesObjectPageHeaderPlainTextTitle {
  color: #000000;
}
.sapSmartTemplatesObjectPageHeaderProgressIndicatorTitle {
  color: #000000;
}

/******************* FILE /Base/baseLib/cxcwebsite34/custom.less (Version 11.0.3) *******************/


/******************* FILE /Base/baseLib/cxcwebsite34/base.less (Version 11.0.3) *******************/
/******************* FILE /UI5/sap/ui/core/themes/cxcwebsite34/global.less (Version 1.48.8) *******************/
/******************* FILE /UI5/sap/suite/ui/generic/template/themes/cxcwebsite34/library.less (Version 1.48.7) *******************/




/**
*  SCOPING UI5.sap/suite/ui/generic/template.cxcwebsite34--Contrast.library with "sapContrast"
*/
.sapContrast .sapSvgIconPositive,
.sapSvgIconPositive.sapContrast {
  fill: #abe2ab !important;
}
.sapContrast .sapSvgIconCritical,
.sapSvgIconCritical.sapContrast {
  fill: #fabd64 !important;
}
.sapContrast .sapSvgIconNegative,
.sapSvgIconNegative.sapContrast {
  fill: #ff8888 !important;
}
.sapContrast .sapSmartTemplatesListReportSLIPositive > .sapMLIBContent > .sapMSLIImgIcon,
.sapSmartTemplatesListReportSLIPositive.sapContrast > .sapMLIBContent > .sapMSLIImgIcon {
  color: #abe2ab;
}
.sapContrast .sapSmartTemplatesListReportSLINeutral > .sapMLIBContent > .sapMSLIImgIcon,
.sapSmartTemplatesListReportSLINeutral.sapContrast > .sapMLIBContent > .sapMSLIImgIcon {
  color: #d3d7d9;
}
.sapContrast .sapSmartTemplatesListReportSLINegative > .sapMLIBContent > .sapMSLIImgIcon,
.sapSmartTemplatesListReportSLINegative.sapContrast > .sapMLIBContent > .sapMSLIImgIcon {
  color: #ff8888;
}
.sapContrast .sapSmartTemplatesListReportSLICritical > .sapMLIBContent > .sapMSLIImgIcon,
.sapSmartTemplatesListReportSLICritical.sapContrast > .sapMLIBContent > .sapMSLIImgIcon {
  color: #fabd64;
}
.sapContrast .sapSLIPositive > .sapMLIBContent > .sapMSLIImgIcon,
.sapSLIPositive.sapContrast > .sapMLIBContent > .sapMSLIImgIcon {
  color: #abe2ab;
}
.sapContrast .sapSLINeutral > .sapMLIBContent > .sapMSLIImgIcon,
.sapSLINeutral.sapContrast > .sapMLIBContent > .sapMSLIImgIcon {
  color: #d3d7d9;
}
.sapContrast .sapSLINegative > .sapMLIBContent > .sapMSLIImgIcon,
.sapSLINegative.sapContrast > .sapMLIBContent > .sapMSLIImgIcon {
  color: #ff8888;
}
.sapContrast .sapSLICritical > .sapMLIBContent > .sapMSLIImgIcon,
.sapSLICritical.sapContrast > .sapMLIBContent > .sapMSLIImgIcon {
  color: #fabd64;
}
.sapContrast .alr_contentContainer .sapMBtnTransparent.sapMSegBBtnSel > .sapMBtnIcon,
.alr_contentContainer.sapContrast .sapMBtnTransparent.sapMSegBBtnSel > .sapMBtnIcon {
  color: #2f3c48;
}
.sapContrast .alrKpiTag,
.alrKpiTag.sapContrast {
  background-color: #3f5161;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
}
.sapContrast .alrKpiTag:hover,
.alrKpiTag.sapContrast:hover {
  background-color: #45596a;
}
.sapContrast .alrKpiTagName,
.alrKpiTagName.sapContrast {
  color: #dddddd;
}
.sapContrast .alrKPINeutral,
.alrKPINeutral.sapContrast {
  color: #d3d7d9;
  border-left-color: #d3d7d9;
}
.sapContrast .alrKPICritical,
.alrKPICritical.sapContrast {
  color: #fabd64;
  border-left-color: #fabd64;
}
.sapContrast .alrKPIPositive,
.alrKPIPositive.sapContrast {
  color: #abe2ab;
  border-left-color: #abe2ab;
}
.sapContrast .alrKPINegative,
.alrKPINegative.sapContrast {
  color: #ff8888;
  border-left-color: #ff8888;
}
.sapContrast .sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageContactsList .sapSmartTemplatesObjectPageContactsListContactSubTitle,
.sapSmartTemplatesObjectPage.sapContrast .sapSmartTemplatesObjectPageContactsList .sapSmartTemplatesObjectPageContactsListContactSubTitle {
  color: #dddddd;
}
.sapContrast .sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageContactsImage,
.sapSmartTemplatesObjectPage.sapContrast .sapSmartTemplatesObjectPageContactsImage {
  background-color: #354452;
  color: #0d1014;
}
.sapContrast .sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderContent .sapUxAPObjectPageHeaderContentItem.sapSmartTemplatesObjectPageHeaderImage,
.sapSmartTemplatesObjectPage.sapContrast .sapUxAPObjectPageHeaderContent .sapUxAPObjectPageHeaderContentItem.sapSmartTemplatesObjectPageHeaderImage,
.sapContrast .sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderIdentifier .sapUxAPObjectPageHeaderObjectImageForce .sapUxAPObjectPageHeaderObjectImage,
.sapSmartTemplatesObjectPage.sapContrast .sapUxAPObjectPageHeaderIdentifier .sapUxAPObjectPageHeaderObjectImageForce .sapUxAPObjectPageHeaderObjectImage,
.sapContrast .sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderStickied .sapUxAPObjectPageHeaderIdentifier .sapUxAPObjectPageHeaderObjectImage,
.sapSmartTemplatesObjectPage.sapContrast .sapUxAPObjectPageHeaderStickied .sapUxAPObjectPageHeaderIdentifier .sapUxAPObjectPageHeaderObjectImage {
  border-color: #2f3c48;
}
.sapContrast .sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderForm .sapSmartTemplatesObjectPageHeaderFormLabel,
.sapSmartTemplatesObjectPage.sapContrast .sapSmartTemplatesObjectPageHeaderForm .sapSmartTemplatesObjectPageHeaderFormLabel,
.sapContrast .sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderContact .sapSmartTemplatesObjectPageHeaderContactLinkIcon,
.sapSmartTemplatesObjectPage.sapContrast .sapSmartTemplatesObjectPageHeaderContact .sapSmartTemplatesObjectPageHeaderContactLinkIcon {
  color: #dddddd;
}
.sapContrast .sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderDetails .sapSmartTemplatesObjectPageHeaderMiniChartTitle,
.sapSmartTemplatesObjectPage.sapContrast .sapUxAPObjectPageHeaderDetails .sapSmartTemplatesObjectPageHeaderMiniChartTitle {
  color: #fafafa;
}
.sapContrast .sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderMiniChartSubTitle,
.sapSmartTemplatesObjectPage.sapContrast .sapSmartTemplatesObjectPageHeaderMiniChartSubTitle {
  color: #dddddd;
}
.sapContrast .sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderForm .sapSmartTemplatesObjectPageHeaderFormTitle,
.sapSmartTemplatesObjectPage.sapContrast .sapSmartTemplatesObjectPageHeaderForm .sapSmartTemplatesObjectPageHeaderFormTitle,
.sapContrast .sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderPlainText .sapSmartTemplatesObjectPageHeaderPlainTextTitle,
.sapSmartTemplatesObjectPage.sapContrast .sapSmartTemplatesObjectPageHeaderPlainText .sapSmartTemplatesObjectPageHeaderPlainTextTitle {
  color: #fafafa;
}
.sapContrast .sapSmartTemplatesObjectPageHeaderProgressIndicatorTitle,
.sapSmartTemplatesObjectPageHeaderProgressIndicatorTitle.sapContrast {
  color: #fafafa;
}


/* Inline theming parameters */
#sap-ui-theme-sap\.suite\.ui\.generic\.template{background-image:url('data:text/plain;utf-8,%7B%22default%22:%7B%22sapBrandColor%22:%22#000%22,%22sapHighlightColor%22:%22#000%22,%22sapBaseColor%22:%22#fff%22,%22sapShellColor%22:%22transparent%22,%22sapBackgroundColor%22:%22#fff%22,%22sapFontFamily%22:%22Arial, Helvetica, sans-serif%22,%22sapFontSize%22:%220.75em%22,%22sapTextColor%22:%22#333%22,%22sapLinkColor%22:%22#7d7d7d%22,%22sapCompanyLogo%22:%22none%22,%22sapBackgroundImage%22:%22none%22,%22sapBackgroundImageOpacity%22:%221.0%22,%22sapBackgroundImageRepeat%22:%22false%22,%22sapSelectedColor%22:%22#000%22,%22sapActiveColor%22:%22#000%22,%22sapHighlightTextColor%22:%22#333%22,%22sapTitleColor%22:%22#000%22,%22sapNegativeColor%22:%22#e35500%22,%22sapCriticalColor%22:%22#e78c07%22,%22sapPositiveColor%22:%22#4fb81e%22,%22sapNeutralColor%22:%22#5e696e%22,%22sapNegativeElementColor%22:%22#e35500%22,%22sapCriticalElementColor%22:%22#e78c07%22,%22sapPositiveElementColor%22:%22#4fb81e%22,%22sapNeutralElementColor%22:%22#5e696e%22,%22sapContent_LineHeight%22:%221.3%22,%22sapContent_ElementHeight%22:%221.37em%22,%22sapContent_ElementHeight_PX%22:%2222px%22,%22sapContent_IconHeight%22:%2216px%22,%22sapContent_IconColor%22:%22#000%22,%22sapContent_ContrastIconColor%22:%22#fff%22,%22sapContent_NonInteractiveIconColor%22:%22#878787%22,%22sapContent_MarkerIconColor%22:%22#a3a3a3%22,%22sapContent_FocusColor%22:%22#000%22,%22sapContent_ContrastFocusColor%22:%22#dfdfdf%22,%22sapContent_ShadowColor%22:%22#000%22,%22sapContent_ContrastShadowColor%22:%22#fff%22,%22sapContent_SearchHighlightColor%22:%22#d4f7db%22,%22sapContent_HelpColor%22:%22#3f8600%22,%22sapContent_LabelColor%22:%22#666%22,%22sapContent_MonospaceFontFamily%22:%22lucida console, monospace%22,%22sapContent_DisabledTextColor%22:%22rgba%2851,51,51,0.5%29%22,%22sapContent_DisabledOpacity%22:%220.5%22,%22sapContent_ContrastTextThreshold%22:%220%22,%22sapContent_ContrastTextColor%22:%22#fff%22,%22sapContent_ForegroundColor%22:%22#e5e5e5%22,%22sapContent_ForegroundBorderColor%22:%22rgba%28191,191,191, 0%29%22,%22sapContent_ForegroundTextColor%22:%22#333%22,%22sapShell_Background%22:%22#fff%22,%22sapShell_BackgroundImage%22:%22linear-gradient%28to bottom left, #f2f2f2, #fff%29%22,%22sapShell_BackgroundGradient%22:%22linear-gradient%28to bottom left, #f2f2f2, #fff%29%22,%22sapShell_BackgroundImageOpacity%22:%221.0%22,%22sapShell_BackgroundImageRepeat%22:%22false%22,%22sapShell_BorderColor%22:%22transparent%22,%22sapShell_TextColor%22:%22#000%22,%22sapShell_Favicon%22:%22none%22,%22sapButton_BorderWidth%22:%221px%22,%22sapButton_BorderCornerRadius%22:%220px%22,%22sapButton_Background%22:%22#fff%22,%22sapButton_BorderColor%22:%22#000%22,%22sapButton_TextColor%22:%22#333%22,%22sapButton_Disabled_Background%22:%22lime%22,%22sapButton_Disabled_BorderColor%22:%22lime%22,%22sapButton_Disabled_TextColor%22:%22lime%22,%22sapButton_Hover_Background%22:%22#000%22,%22sapButton_Hover_BorderColor%22:%22#000%22,%22sapButton_Hover_TextColor%22:%22#fff%22,%22sapButton_Emphasized_Background%22:%22#fff%22,%22sapButton_Emphasized_BorderColor%22:%22#000%22,%22sapButton_Emphasized_TextColor%22:%22#000%22,%22sapButton_Reject_Background%22:%22#fff%22,%22sapButton_Accept_Background%22:%22#fff%22,%22sapField_Background%22:%22#ccc%22,%22sapField_BorderColor%22:%22transparent%22,%22sapField_TextColor%22:%22#000%22,%22sapField_HelpBackground%22:%22#ccc%22,%22sapField_BorderWidth%22:%221px%22,%22sapField_BorderCornerRadius%22:%220%22,%22sapField_Hover_Background%22:%22#ccc%22,%22sapField_Hover_BorderColor%22:%22#000%22,%22sapField_Hover_HelpBackground%22:%22#000%22,%22sapField_Focus_Background%22:%22#ccc%22,%22sapField_Focus_BorderColor%22:%22transparent%22,%22sapField_Focus_HelpBackground%22:%22#ccc%22,%22sapField_Disabled_Background%22:%22lime%22,%22sapField_Disabled_BorderColor%22:%22lime%22,%22sapField_Disabled_TextColor%22:%22rgba%280,0,0,0.5%29%22,%22sapField_Disabled_HelpBackground%22:%22lime%22,%22sapField_ReadOnly_Background%22:%22rgba%28191,191,191,0.5%29%22,%22sapField_ReadOnly_BorderColor%22:%22transparent%22,%22sapField_ReadOnly_HelpBackground%22:%22rgba%28191,191,191,0.5%29%22,%22sapField_RequiredColor%22:%22#c14646%22,%22sapField_InvalidColor%22:%22#ff6e17%22,%22sapField_InvalidBackground%22:%22#ccc%22,%22sapField_WarningColor%22:%22#f9a429%22,%22sapField_WarningBackground%22:%22#ccc%22,%22sapField_SuccessColor%22:%22#64dd2c%22,%22sapField_SuccessBackground%22:%22#ccc%22,%22sapGroup_TitleBackground%22:%22transparent%22,%22sapGroup_TitleBorderColor%22:%22rgba%28204,204,204, 0%29%22,%22sapGroup_TitleTextColor%22:%22#000%22,%22sapGroup_Title_FontSize%22:%221.0em%22,%22sapGroup_ContentBackground%22:%22#fff%22,%22sapGroup_ContentBorderColor%22:%22rgba%28235,235,235, 0%29%22,%22sapGroup_BorderWidth%22:%221px%22,%22sapGroup_BorderCornerRadius%22:%220%22,%22sapGroup_FooterBackground%22:%22transparent%22,%22sapToolbar_Background%22:%22transparent%22,%22sapToolbar_SeparatorColor%22:%22rgba%28255,255,255, 0.2%29%22,%22sapList_HeaderBackground%22:%22#fff%22,%22sapList_HeaderBorderColor%22:%22transparent%22,%22sapList_HeaderTextColor%22:%22#000%22,%22sapList_BorderColor%22:%22transparent%22,%22sapList_BorderWidth%22:%221px%22,%22sapList_HighlightColor%22:%22#000%22,%22sapList_SelectionBackgroundColor%22:%22#cacaca%22,%22sapList_Background%22:%22#f2f2f2%22,%22sapList_Hover_Background%22:%22#e3e3e3%22,%22sapScrollBar_FaceColor%22:%22#e6e6e6%22,%22sapScrollBar_TrackColor%22:%22#fff%22,%22sapScrollBar_BorderColor%22:%22#ffffff%22,%22sapScrollBar_SymbolColor%22:%22#000%22,%22sapScrollBar_Dimension%22:%2216px%22,%22sapScrollBar_Hover_FaceColor%22:%22#dedede%22,%22sapPageHeader_Background%22:%22#fff%22,%22sapPageHeader_BorderColor%22:%22#333333%22,%22sapPageHeader_TextColor%22:%22#666%22,%22sapPageFooter_Background%22:%22#e9e9e9%22,%22sapPageFooter_TextColor%22:%22#333%22,%22sapInfobar_Background%22:%22#666666%22,%22sapObjectHeader_Background%22:%22#fff%22,%22sapBlockLayer_Background%22:%22#000%22,%22sapTile_Background%22:%22#dfdfdf%22,%22sapTile_BorderColor%22:%22transparent%22,%22sapTile_TitleTextColor%22:%22#333%22,%22sapTile_TextColor%22:%22#666%22,%22sapTile_IconColor%22:%22#575757%22,%22sapChart_OrderedColor_1%22:%22#5cbae6%22,%22sapChart_OrderedColor_2%22:%22#b6d957%22,%22sapChart_OrderedColor_3%22:%22#fac364%22,%22sapChart_OrderedColor_4%22:%22#8cd3ff%22,%22sapChart_OrderedColor_5%22:%22#d998cb%22,%22sapChart_OrderedColor_6%22:%22#f2d249%22,%22sapChart_OrderedColor_7%22:%22#93b9c6%22,%22sapChart_OrderedColor_8%22:%22#ccc5a8%22,%22sapChart_OrderedColor_9%22:%22#52bacc%22,%22sapChart_OrderedColor_10%22:%22#dbdb46%22,%22sapChart_OrderedColor_11%22:%22#98aafb%22,%22sapChart_Bad%22:%22#e35500%22,%22sapChart_Critical%22:%22#de890d%22,%22sapChart_Good%22:%22#4fb81e%22,%22sapChart_Neutral%22:%22#848f94%22,%22sapChart_Sequence_1%22:%22#27a3dd%22,%22sapChart_Sequence_2%22:%22#9dc62d%22,%22sapChart_Sequence_3%22:%22#f8ac29%22,%22sapChart_Sequence_Neutral%22:%22#848f94%22,%22sapUiBrand%22:%22#000%22,%22sapUiHighlight%22:%22#000%22,%22sapUiBaseColor%22:%22#fff%22,%22sapUiShellColor%22:%22transparent%22,%22sapUiBaseBG%22:%22#fff%22,%22sapUiGlobalBackgroundColor%22:%22#fff%22,%22sapUiBaseText%22:%22#333%22,%22sapUiLink%22:%22#7d7d7d%22,%22sapUiGlobalLogo%22:%22none%22,%22sapUiGlobalBackgroundImage%22:%22none%22,%22sapUiBackgroundImage%22:%22none%22,%22sapUiUx3ShellBackgroundImageURL%22:%22none%22,%22sapUiGlobalBackgroundImageOpacity%22:%221.0%22,%22sapUiGlobalBackgroundRepeat%22:%22false%22,%22sapUiSelected%22:%22#000%22,%22sapUiActive%22:%22#000%22,%22sapUiHighlightTextColor%22:%22#333%22,%22sapUiTextTitle%22:%22#000%22,%22sapUiContentIconColor%22:%22#000%22,%22sapUiContentContrastIconColor%22:%22#fff%22,%22sapUiContentNonInteractiveIconColor%22:%22#878787%22,%22sapUiContentMarkerIconColor%22:%22#a3a3a3%22,%22sapUiContentMarkerTextColor%22:%22#4974bc%22,%22sapUiContentImagePlaceholderBackground%22:%22#e8e8e8%22,%22sapUiContentImagePlaceholderForegroundColor%22:%22#fff%22,%22sapUiContentFocusColor%22:%22#000%22,%22sapUiContentContrastFocusColor%22:%22#dfdfdf%22,%22sapUiContentShadowColor%22:%22#000%22,%22sapUiContentContrastShadowColor%22:%22#fff%22,%22sapUiContentSearchHighlightColor%22:%22#d4f7db%22,%22sapUiContentHelpColor%22:%22#3f8600%22,%22sapUiContentLabelColor%22:%22#666%22,%22sapUiContentDisabledTextColor%22:%22rgba%2851,51,51,0.5%29%22,%22sapUiContentDisabledOpacity%22:%220.5%22,%22sapUiContentContrastTextThreshold%22:%220%22,%22sapUiContentContrastTextColor%22:%22#fff%22,%22sapUiContentForegroundColor%22:%22#e5e5e5%22,%22sapUiContentForegroundBorderColor%22:%22rgba%28191,191,191, 0%29%22,%22sapUiContentForegroundTextColor%22:%22#333%22,%22sapUiShellBackground%22:%22#fff%22,%22sapUiShellBackgroundImage%22:%22linear-gradient%28to bottom left, #f2f2f2, #fff%29%22,%22sapUiShellBackgroundImageOpacity%22:%221.0%22,%22sapUiShellBackgroundImageRepeat%22:%22false%22,%22sapUiShellBackgroundGradient%22:%22linear-gradient%28to bottom left, #f2f2f2, #fff%29%22,%22sapUiShellBorderColor%22:%22transparent%22,%22sapUiShellTextColor%22:%22#000%22,%22sapUiShellFavicon%22:%22none%22,%22sapUiButtonBackground%22:%22#fff%22,%22sapUiButtonBorderColor%22:%22#000%22,%22sapUiButtonTextColor%22:%22#333%22,%22sapUiButtonDisabledBackground%22:%22lime%22,%22sapUiButtonDisabledBorderColor%22:%22lime%22,%22sapUiButtonDisabledTextColor%22:%22lime%22,%22sapUiButtonHoverBackground%22:%22#000%22,%22sapUiButtonHoverBorderColor%22:%22#000%22,%22sapUiButtonHoverTextColor%22:%22#fff%22,%22sapUiButtonEmphasizedBackground%22:%22#fff%22,%22sapUiButtonEmphasizedBorderColor%22:%22#000%22,%22sapUiButtonEmphasizedTextColor%22:%22#000%22,%22sapUiButtonRejectBackground%22:%22#fff%22,%22sapUiButtonAcceptBackground%22:%22#fff%22,%22sapUiFieldBackground%22:%22#ccc%22,%22sapUiFieldBorderColor%22:%22transparent%22,%22sapUiFieldTextColor%22:%22#000%22,%22sapUiFieldHelpBackground%22:%22#ccc%22,%22sapUiFieldHoverBackground%22:%22#ccc%22,%22sapUiFieldHoverBorderColor%22:%22#000%22,%22sapUiFieldHoverHelpBackground%22:%22#000%22,%22sapUiFieldFocusBackground%22:%22#ccc%22,%22sapUiFieldFocusBorderColor%22:%22transparent%22,%22sapUiFieldFocusHelpBackground%22:%22#ccc%22,%22sapUiFieldReadOnlyBackground%22:%22rgba%28191,191,191,0.5%29%22,%22sapUiFieldReadOnlyBorderColor%22:%22transparent%22,%22sapUiFieldReadOnlyHelpBackground%22:%22rgba%28191,191,191,0.5%29%22,%22sapUiFieldDisabledBackground%22:%22lime%22,%22sapUiFieldDisabledBorderColor%22:%22lime%22,%22sapUiFieldDisabledTextColor%22:%22rgba%280,0,0,0.5%29%22,%22sapUiFieldDisabledHelpBackground%22:%22lime%22,%22sapUiFieldRequiredColor%22:%22#c14646%22,%22sapUiFieldInvalidColor%22:%22#ff6e17%22,%22sapUiFieldInvalidBackground%22:%22#ccc%22,%22sapUiFieldWarningColor%22:%22#f9a429%22,%22sapUiFieldWarningBackground%22:%22#ccc%22,%22sapUiFieldSuccessColor%22:%22#64dd2c%22,%22sapUiFieldSuccessBackground%22:%22#ccc%22,%22sapUiGroupTitleBackground%22:%22transparent%22,%22sapUiGroupTitleBorderColor%22:%22rgba%28204,204,204, 0%29%22,%22sapUiGroupTitleTextColor%22:%22#000%22,%22sapUiGroupContentBackground%22:%22#fff%22,%22sapUiGroupContentBorderColor%22:%22rgba%28235,235,235, 0%29%22,%22sapUiGroupFooterBackground%22:%22transparent%22,%22sapUiToolbarBackground%22:%22transparent%22,%22sapUiToolbarSeparatorColor%22:%22rgba%28255,255,255, 0.2%29%22,%22sapUiListHeaderBackground%22:%22#fff%22,%22sapUiListHeaderBorderColor%22:%22transparent%22,%22sapUiListHeaderTextColor%22:%22#000%22,%22sapUiListBorderColor%22:%22transparent%22,%22sapUiListHighlightColor%22:%22#000%22,%22sapUiListSelectionBackgroundColor%22:%22#cacaca%22,%22sapUiListBackground%22:%22#f2f2f2%22,%22sapUiListHoverBackground%22:%22#e3e3e3%22,%22sapUiScrollBarFaceColor%22:%22#e6e6e6%22,%22sapUiScrollBarTrackColor%22:%22#fff%22,%22sapUiScrollBarBorderColor%22:%22#ffffff%22,%22sapUiScrollBarSymbolColor%22:%22#000%22,%22sapUiScrollBarHoverFaceColor%22:%22#dedede%22,%22sapUiPageHeaderBackground%22:%22#fff%22,%22sapUiPageHeaderBorderColor%22:%22#333333%22,%22sapUiPageHeaderTextColor%22:%22#666%22,%22sapUiPageFooterBackground%22:%22#e9e9e9%22,%22sapUiPageFooterTextColor%22:%22#333%22,%22sapUiInfobarBackground%22:%22#666666%22,%22sapUiObjectHeaderBackground%22:%22#fff%22,%22sapUiBlockLayerBackground%22:%22#000%22,%22sapUiTileBackground%22:%22#dfdfdf%22,%22sapUiTileBorderColor%22:%22transparent%22,%22sapUiTileTitleTextColor%22:%22#333%22,%22sapUiTileTextColor%22:%22#666%22,%22sapUiTileIconColor%22:%22#575757%22,%22sapUiChart1%22:%22#5cbae6%22,%22sapUiChart2%22:%22#b6d957%22,%22sapUiChart3%22:%22#fac364%22,%22sapUiChart4%22:%22#8cd3ff%22,%22sapUiChart5%22:%22#d998cb%22,%22sapUiChart6%22:%22#f2d249%22,%22sapUiChart7%22:%22#93b9c6%22,%22sapUiChart8%22:%22#ccc5a8%22,%22sapUiChart9%22:%22#52bacc%22,%22sapUiChart10%22:%22#dbdb46%22,%22sapUiChart11%22:%22#98aafb%22,%22sapUiChartBad%22:%22#e35500%22,%22sapUiChartCritical%22:%22#de890d%22,%22sapUiChartGood%22:%22#4fb81e%22,%22sapUiChartNeutral%22:%22#848f94%22,%22sapUiChartSequence1%22:%22#27a3dd%22,%22sapUiChartSequence2%22:%22#9dc62d%22,%22sapUiChartSequence3%22:%22#f8ac29%22,%22sapUiChartSequenceNeutral%22:%22#848f94%22,%22sapUiAccent1%22:%22#e09d00%22,%22sapUiAccent2%22:%22#e6600d%22,%22sapUiAccent3%22:%22#c14646%22,%22sapUiAccent4%22:%22#ab218e%22,%22sapUiAccent5%22:%22#678bc7%22,%22sapUiAccent6%22:%22#0092d1%22,%22sapUiAccent7%22:%22#1a9898%22,%22sapUiAccent8%22:%22#759421%22,%22sapUiErrorBG%22:%22#fff%22,%22sapUiWarningBG%22:%22#fef0db%22,%22sapUiSuccessBG%22:%22#fff%22,%22sapUiNeutralBG%22:%22#f4f5f6%22,%22sapUiErrorBorder%22:%22#ff6e17%22,%22sapUiWarningBorder%22:%22#f9a429%22,%22sapUiSuccessBorder%22:%22#64dd2c%22,%22sapUiNeutralBorder%22:%22#5e696e%22,%22sapUiNegativeElement%22:%22#e35500%22,%22sapUiCriticalElement%22:%22#e78c07%22,%22sapUiPositiveElement%22:%22#4fb81e%22,%22sapUiNeutralElement%22:%22#5e696e%22,%22sapUiNegativeText%22:%22#e35500%22,%22sapUiCriticalText%22:%22#e78c07%22,%22sapUiPositiveText%22:%22#4fb81e%22,%22sapUiNeutralText%22:%22#5e696e%22,%22sapUiNegative%22:%22#e35500%22,%22sapUiCritical%22:%22#e78c07%22,%22sapUiPositive%22:%22#4fb81e%22,%22sapUiNeutral%22:%22#5e696e%22,%22sapUiErrorColor%22:%22#ff6e17%22,%22sapUiWarningColor%22:%22#f9a429%22,%22sapUiSuccessColor%22:%22#64dd2c%22,%22sapUiFontFamily%22:%22Arial, Helvetica, sans-serif%22,%22sapUiFontSize%22:%2216px%22,%22sapUiFontCondensedFamily%22:%22%27Arial Narrow%27, HelveticaNeue-CondensedBold, Arial, sans-serif%22,%22sapUiFontHeaderFamily%22:%22Arial, Helvetica, sans-serif%22,%22sapUiFontHeaderWeight%22:%22normal%22,%22sapMFontHeader1Size%22:%221.625rem%22,%22sapMFontHeader2Size%22:%221.375rem%22,%22sapMFontHeader3Size%22:%221.250rem%22,%22sapMFontHeader4Size%22:%221.125rem%22,%22sapMFontHeader5Size%22:%221rem%22,%22sapMFontHeader6Size%22:%220.875rem%22,%22sapMFontSmallSize%22:%220.75rem%22,%22sapMFontMediumSize%22:%220.875rem%22,%22sapMFontLargeSize%22:%221rem%22,%22sapUiTranslucentBGOpacity%22:%220%22,%22sapMPlatformDependent%22:%22false%22,%22sapUiDesktopFontFamily%22:%22Arial, Helvetica, sans-serif%22,%22sapUiDesktopFontSize%22:%2212px%22,%22sapUiFontLargeSize%22:%2213px%22,%22sapUiFontSmallSize%22:%2211px%22,%22sapUiFontHeader1Size%22:%2226px%22,%22sapUiFontHeader2Size%22:%2220px%22,%22sapUiFontHeader3Size%22:%2218px%22,%22sapUiFontHeader4Size%22:%2216px%22,%22sapUiFontHeader5Size%22:%2214px%22,%22sapUiFontHeader6Size%22:%2213px%22,%22sapUiLineHeight%22:%2218px%22,%22sapUiChartLabelHoverColor%22:%22#000%22,%22sapUiChartLabelPressedColor%22:%22#d4d4d4%22,%22sapUiChartCategoryAxisLabelFontColor%22:%22#333%22,%22sapUiChartValueAxisLabelFontColor%22:%22#707070%22,%22sapUiChartCategoryAxisLabelFontSize%22:%220.75rem%22,%22sapUiChartValueAxisLabelFontSize%22:%220.75rem%22,%22sapUiChartCategoryAxisLineColor%22:%22rgba%28204,204,204,0%29%22,%22sapUiChartValueAxisLineColor%22:%22rgba%28204,204,204,0%29%22,%22sapUiChartCategoryAxisTickColor%22:%22rgba%28204,204,204,0%29%22,%22sapUiChartValueAxisTickColor%22:%22rgba%28204,204,204,0%29%22,%22sapUiChartBackgroundColor%22:%22transparent%22,%22sapUiChartLabelFontWeight%22:%22normal%22,%22sapUiChartLegendLabelFontColor%22:%22#333%22,%22sapUiChartLegendTitleFontColor%22:%22#000%22,%22sapUiChartLegendTitleFontSize%22:%220.875rem%22,%22sapUiChartLegendLabelFontSize%22:%220.75rem%22,%22sapUiChartPaletteUndefinedColor%22:%22#000%22,%22sapUiChartGridlineColor%22:%22rgba%28229,229,229,0%29%22,%22sapUiChartReferenceLineColor%22:%22rgba%2851,51,51,0%29%22,%22sapUiChartDataLabelFontColor%22:%22#000%22,%22sapUiChartReferenceLineLabelColor%22:%22#000%22,%22sapUiChartDataLabelFontSize%22:%220.75rem%22,%22sapUiChartPopoverDataItemFontColor%22:%22#000%22,%22sapUiChartPopoverGroupFontColor%22:%22#333%22,%22sapUiChartPopoverDataItemFontSize%22:%220.875rem%22,%22sapUiChartPopoverGroupFontSize%22:%220.875rem%22,%22sapUiChartPopoverGroupFontWeight%22:%22bold%22,%22sapUiChartScrollBarThumbColor%22:%22#e6e6e6%22,%22sapUiChartScrollBarTrackColor%22:%22#fff%22,%22sapUiChartScrollBarThumbHoverColor%22:%22#dedede%22,%22sapUiChartMainTitleFontColor%22:%22#000%22,%22sapUiChartAxisTitleFontColor%22:%22#000%22,%22sapUiChartMainTitleFontSize%22:%221rem%22,%22sapUiChartAxisTitleFontSize%22:%220.875rem%22,%22sapUiChartTitleFontWeight%22:%22bold%22,%22sapUiChartLightText%22:%22#707070%22,%22sapUiChartZeroAxisColor%22:%22rgba%28102,102,102,0%29%22,%22sapUiChartDataPointBorderColor%22:%22#fff%22,%22sapUiChartDataPointBorderHoverSelectedColor%22:%22rgba%28102,102,102,0%29%22,%22sapUiChartDataPointNotSelectedBackgroundOpacity%22:%220.6%22,%22sapUiChartValueAxisLineOpacity%22:%220%22,%22sapUiChartCategoryAxisLabelFontHoverColor%22:%22#333%22,%22sapUiChartCategoryAxisLabelFontPressedColor%22:%22#333%22,%22sapUiChartTargetColor%22:%22rgba%2851,51,51,0%29%22,%22sapUiChartTargetShadowColor%22:%22#fff%22,%22sapUiChartBubbleBGOpacity%22:%220.8%22,%22sapUiChartScrollbarBorderColor%22:%22#fff%22,%22sapUiChartScrollbarBorderSize%22:%220%22,%22sapUiChartScrollbarThumbPadding%22:%220%22,%22sapUiChartNegativeLargeText%22:%22#e35500%22,%22sapUiChartCriticalLargeText%22:%22#de890d%22,%22sapUiChartPositiveLargeText%22:%22#4fb81e%22,%22sapUiChartNeutralLargeText%22:%22#6a757b%22,%22sapUiChartDataPointBG%22:%22#d6dadb%22,%22sapUiChartDataPointBGBorderColor%22:%22#d6dadb%22,%22sapUiChartDataLineColorWithBG%22:%22rgba%2851,51,51,0%29%22,%22sapUiChartDataLineColor%22:%22rgba%2851,51,51,0%29%22,%22sapUiChartRadialRemainingCircle%22:%22#e3e6e7%22,%22sapUiChartRadialRemainingCircleBorderColor%22:%22#e3e6e7%22,%22sapUiChartRadialBG%22:%22#fff%22,%22sapUiChartPaletteQualitativeHue1%22:%22#5cbae6%22,%22sapUiChartPaletteQualitativeHue2%22:%22#b6d957%22,%22sapUiChartPaletteQualitativeHue3%22:%22#fac364%22,%22sapUiChartPaletteQualitativeHue4%22:%22#8cd3ff%22,%22sapUiChartPaletteQualitativeHue5%22:%22#d998cb%22,%22sapUiChartPaletteQualitativeHue6%22:%22#f2d249%22,%22sapUiChartPaletteQualitativeHue7%22:%22#93b9c6%22,%22sapUiChartPaletteQualitativeHue8%22:%22#ccc5a8%22,%22sapUiChartPaletteQualitativeHue9%22:%22#52bacc%22,%22sapUiChartPaletteQualitativeHue10%22:%22#dbdb46%22,%22sapUiChartPaletteQualitativeHue11%22:%22#98aafb%22,%22sapUiChartPaletteSemanticBadLight3%22:%22#ffb487%22,%22sapUiChartPaletteSemanticBadLight2%22:%22#ff9454%22,%22sapUiChartPaletteSemanticBadLight1%22:%22#ff7421%22,%22sapUiChartPaletteSemanticBad%22:%22#e35500%22,%22sapUiChartPaletteSemanticBadDark1%22:%22#be4801%22,%22sapUiChartPaletteSemanticBadDark2%22:%22#963801%22,%22sapUiChartPaletteSemanticCriticalLight3%22:%22#f8cc8c%22,%22sapUiChartPaletteSemanticCriticalLight2%22:%22#f5b04d%22,%22sapUiChartPaletteSemanticCriticalLight1%22:%22#f29b1d%22,%22sapUiChartPaletteSemanticCritical%22:%22#de890d%22,%22sapUiChartPaletteSemanticCriticalDark1%22:%22#c67a0c%22,%22sapUiChartPaletteSemanticCriticalDark2%22:%22#a4650a%22,%22sapUiChartPaletteSemanticGoodLight3%22:%22#a5eb84%22,%22sapUiChartPaletteSemanticGoodLight2%22:%22#7be24b%22,%22sapUiChartPaletteSemanticGoodLight1%22:%22#5cd723%22,%22sapUiChartPaletteSemanticGood%22:%22#4fb81e%22,%22sapUiChartPaletteSemanticGoodDark1%22:%22#429919%22,%22sapUiChartPaletteSemanticGoodDark2%22:%22#337613%22,%22sapUiChartPaletteSemanticNeutralLight3%22:%22#d6dadb%22,%22sapUiChartPaletteSemanticNeutralLight2%22:%22#bac1c4%22,%22sapUiChartPaletteSemanticNeutralLight1%22:%22#9ea8ad%22,%22sapUiChartPaletteSemanticNeutral%22:%22#848f94%22,%22sapUiChartPaletteSemanticNeutralDark1%22:%22#6a757b%22,%22sapUiChartPaletteSemanticNeutralDark2%22:%22#596368%22,%22sapUiChartPaletteSequentialHue1Light3%22:%22#abdbf2%22,%22sapUiChartPaletteSequentialHue1Light2%22:%22#84caec%22,%22sapUiChartPaletteSequentialHue1Light1%22:%22#5cbae5%22,%22sapUiChartPaletteSequentialHue1%22:%22#27a3dd%22,%22sapUiChartPaletteSequentialHue1Dark1%22:%22#1b7eac%22,%22sapUiChartPaletteSequentialHue1Dark2%22:%22#156489%22,%22sapUiChartPaletteSequentialHue2Light3%22:%22#d7eaa2%22,%22sapUiChartPaletteSequentialHue2Light2%22:%22#c6e17d%22,%22sapUiChartPaletteSequentialHue2Light1%22:%22#b6d957%22,%22sapUiChartPaletteSequentialHue2%22:%22#9dc62d%22,%22sapUiChartPaletteSequentialHue2Dark1%22:%22#759422%22,%22sapUiChartPaletteSequentialHue2Dark2%22:%22#5b731a%22,%22sapUiChartPaletteSequentialHue3Light3%22:%22#fde5bd%22,%22sapUiChartPaletteSequentialHue3Light2%22:%22#fbd491%22,%22sapUiChartPaletteSequentialHue3Light1%22:%22#fac364%22,%22sapUiChartPaletteSequentialHue3%22:%22#f8ac29%22,%22sapUiChartPaletteSequentialHue3Dark1%22:%22#dd8e07%22,%22sapUiChartPaletteSequentialHue3Dark2%22:%22#b57506%22,%22sapUiChartPaletteSequentialNeutralLight3%22:%22#d6dadb%22,%22sapUiChartPaletteSequentialNeutralLight2%22:%22#bac1c4%22,%22sapUiChartPaletteSequentialNeutralLight1%22:%22#9ea8ad%22,%22sapUiChartPaletteSequentialNeutral%22:%22#848f94%22,%22sapUiChartPaletteSequentialNeutralDark1%22:%22#6a757b%22,%22sapUiChartPaletteSequentialNeutralDark2%22:%22#596368%22,%22sapUiChoroplethBG%22:%22#f7f7f8%22,%22sapUiChoroplethRegionBorder%22:%22rgba%28255,255,255,0%29%22,%22sapUiChoroplethRegionBG%22:%22#bac1c4%22,%22sapUiMapLegendBG%22:%22#fff%22,%22sapUiMapLegendBorderColor%22:%22rgba%28204,204,204,0%29%22,%22sapUiShellHoverBackground%22:%22#000%22,%22sapUiShellActiveBackground%22:%22#000%22,%22sapUiShellActiveTextColor%22:%22#8c8c8c%22,%22sapUiShellHoverToggleBackground%22:%22#000%22,%22sapUiShellContainerBackground%22:%22#fff%22,%22sapUiShellAltContainerBackground%22:%22#b8b8b8%22,%22sapUiUx3ShellHeaderColor%22:%22transparent%22,%22sapUiUx3ShellBackgroundColor%22:%22#eff4f9%22,%22sapUiUx3ShellHoverColor%22:%22#787878%22,%22sapUiUx3ShellGradientBottom%22:%22transparent%22,%22sapUiUx3ShellGradientTop%22:%22rgba%280,0,0,0.03%29%22,%22sapUiUx3ShellToolPaletteIconFontColor%22:%22#889eb1%22,%22sapUiUx3ExactLstExpandOffset%22:%22-1 -2%22,%22sapUiUx3ExactLstRootExpandOffset%22:%220 3%22,%22sapUiUx3ExactLstContentTop%22:%2225px%22,%22sapUiLinkActive%22:%22#7d7d7d%22,%22sapUiLinkVisited%22:%22#7d7d7d%22,%22sapUiLinkHover%22:%22#7d7d7d%22,%22sapUiLinkInverted%22:%22#e3e3e3%22,%22sapUiNotificationBarBG%22:%22rgba%2851,51,51,0.98%29%22,%22sapUiNotifierSeparator%22:%22#000%22,%22sapUiNotifierSeparatorWidth%22:%221px%22,%22sapUiNotificationBarBorder%22:%22#666%22,%22sapUiUx3ToolPopupInverted%22:%22false%22,%22sapUiUx3ToolPopupArrowRightMarginCorrection%22:%22-1px%22,%22sapUiUx3ToolPopupShadow%22:%220px 6px 12px 0px rgba%280,0,0,0.3%29%22,%22sapUiCalloutShadow%22:%220px 6px 12px 0px rgba%280,0,0,0.3%29%22,%22sapUiButtonIconColor%22:%22#000%22,%22sapUiButtonActiveBackground%22:%22#000%22,%22sapUiButtonActiveBorderColor%22:%22#000%22,%22sapUiButtonActiveTextColor%22:%22#333%22,%22sapUiButtonEmphasizedHoverBackground%22:%22#f2f2f2%22,%22sapUiButtonEmphasizedHoverBorderColor%22:%22#f2f2f2%22,%22sapUiButtonEmphasizedActiveBackground%22:%22#000%22,%22sapUiButtonEmphasizedActiveBorderColor%22:%22#000%22,%22sapUiButtonEmphasizedTextShadow%22:%22#000%22,%22sapUiButtonAcceptBorderColor%22:%22#4fb81e%22,%22sapUiButtonAcceptHoverBackground%22:%22#000%22,%22sapUiButtonAcceptHoverBorderColor%22:%22#4fb81e%22,%22sapUiButtonAcceptActiveBackground%22:%22#4fb81e%22,%22sapUiButtonAcceptActiveBorderColor%22:%22#4fb81e%22,%22sapUiButtonAcceptTextColor%22:%22#4fb81e%22,%22sapUiButtonRejectBorderColor%22:%22#e35500%22,%22sapUiButtonRejectHoverBackground%22:%22#000%22,%22sapUiButtonRejectHoverBorderColor%22:%22#e35500%22,%22sapUiButtonRejectActiveBackground%22:%22#e35500%22,%22sapUiButtonRejectActiveBorderColor%22:%22#e35500%22,%22sapUiButtonRejectTextColor%22:%22#e35500%22,%22sapUiButtonLiteBackground%22:%22transparent%22,%22sapUiButtonLiteBorderColor%22:%22transparent%22,%22sapUiButtonLiteTextColor%22:%22#333%22,%22sapUiButtonLiteHoverBackground%22:%22rgba%280,0,0,0.5%29%22,%22sapUiButtonLiteHoverBorderColor%22:%22rgba%280,0,0,0.5%29%22,%22sapUiButtonLiteActiveBackground%22:%22#000%22,%22sapUiButtonLiteActiveBorderColor%22:%22#000%22,%22sapUiButtonHeaderTextColor%22:%22#333%22,%22sapUiButtonHeaderDisabledTextColor%22:%22#333%22,%22sapUiButtonFooterTextColor%22:%22#333%22,%22sapUiButtonFooterHoverBackground%22:%22rgba%280,0,0,0.5%29%22,%22sapUiButtonActionSelectBackground%22:%22#f2f2f2%22,%22sapUiButtonActionSelectBorderColor%22:%22transparent%22,%22sapUiButtonLiteActionSelectHoverBackground%22:%22#e3e3e3%22,%22sapUiToggleButtonPressedBackground%22:%22#000%22,%22sapUiToggleButtonPressedBorderColor%22:%22#000%22,%22sapUiToggleButtonPressedTextColor%22:%22#333%22,%22sapUiToggleButtonPressedHoverBackground%22:%22#1a1a1a%22,%22sapUiToggleButtonPressedHoverBorderColor%22:%22#1a1a1a%22,%22sapUiSegmentedButtonBackground%22:%22#fff%22,%22sapUiSegmentedButtonBorderColor%22:%22#141414%22,%22sapUiSegmentedButtonTextColor%22:%22#333%22,%22sapUiSegmentedButtonHoverBackground%22:%22#000%22,%22sapUiSegmentedButtonActiveBackground%22:%22#000%22,%22sapUiSegmentedButtonActiveTextColor%22:%22#333%22,%22sapUiSegmentedButtonSelectedBackground%22:%22#000%22,%22sapUiSegmentedButtonSelectedTextColor%22:%22#333%22,%22sapUiSegmentedButtonSelectedHoverBackground%22:%22#1a1a1a%22,%22sapUiSegmentedButtonSelectedHoverBorderColor%22:%22#1a1a1a%22,%22sapUiSegmentedButtonIconColor%22:%22#000%22,%22sapUiSegmentedButtonActiveIconColor%22:%22#000%22,%22sapUiSegmentedButtonSelectedIconColor%22:%22#000%22,%22sapUiSegmentedButtonFooterBorderColor%22:%22#141414%22,%22sapUiSegmentedButtonFooterHoverBackground%22:%22#000%22,%22sapUiFieldActiveBackground%22:%22#000%22,%22sapUiFieldActiveBorderColor%22:%22#000%22,%22sapUiFieldActiveTextColor%22:%22#fff%22,%22sapUiFieldPlaceholderTextColor%22:%22#757575%22,%22sapUiListTextColor%22:%22#333%22,%22sapUiListVerticalBorderColor%22:%22transparent%22,%22sapUiListActiveBackground%22:%22#000%22,%22sapUiListActiveTextColor%22:%22#333%22,%22sapUiListSelectionHoverBackground%22:%22#c2c2c2%22,%22sapUiListFooterBackground%22:%22#e8e8e8%22,%22sapUiListFooterTextColor%22:%22#333%22,%22sapUiListGroupHeaderBackground%22:%22#f2f2f2%22,%22sapUiListTableGroupHeaderBackground%22:%22#e5e5e5%22,%22sapUiListTableGroupHeaderBorderColor%22:%22transparent%22,%22sapUiListTableGroupHeaderTextColor%22:%22#4974bc%22,%22sapUiListTableFooterBorder%22:%22transparent%22,%22sapUiListTableFixedBorder%22:%22transparent%22,%22sapUiListTableTextSize%22:%220.875rem%22,%22sapUiListTableIconSize%22:%221rem%22,%22sapUiPageFooterBorderColor%22:%22#d5d5d5%22,%22sapUiInfobarHoverBackground%22:%22#5e5e5e%22,%22sapUiInfobarActiveBackground%22:%22#000%22,%22sapUiObjectHeaderBorderColor%22:%22#ebebeb%22,%22sapUiCalendarColorToday%22:%22#ab218e%22,%22sapUiDragAndDropColor%22:%22#878787%22,%22sapUiDragAndDropBackground%22:%22#fff%22,%22sapUiDragAndDropBorderColor%22:%22rgba%28191,191,191, 0%29%22,%22sapUiDragAndDropActiveColor%22:%22#7d7d7d%22,%22sapUiDragAndDropActiveBackground%22:%22rgba%28125,125,125,0.05%29%22,%22sapUiDragAndDropActiveBorderColor%22:%22#7d7d7d%22,%22sapUiShadowLevel0%22:%220 0 0 1px rgba%280,0,0,0.15%29%22,%22sapUiShadowLevel1%22:%220 0.125rem 0.5rem 0 rgba%280,0,0,0.15%29, 0 0 0 1px rgba%280,0,0,0.15%29%22,%22sapUiShadowLevel2%22:%220 0.625rem 1.875rem 0 rgba%280,0,0,0.15%29, 0 0 0 1px rgba%280,0,0,0.15%29%22,%22sapUiShadowLevel3%22:%220 1.25rem 5rem 0 rgba%280,0,0,0.15%29, 0 0 0 1px rgba%280,0,0,0.15%29%22,%22sapUiShadowText%22:%220 0 0.125rem #fff%22,%22sapUiShadowHeader%22:%22inset 0 -0.125rem #ebebeb, 0 0.125rem 0 0 #fff%22,%22sapUiUx3ShellHeaderImageURL%22:%22%22,%22sapUiUx3ShellApplicationImageURL%22:%22none%22,%22sapUiPurple%22:%22purple%22,%22sapUiOrange%22:%22orange%22,%22sapUiGreen%22:%22green%22,%22sapUiBlue%22:%22blue%22,%22sapUiRed%22:%22red%22,%22sapUiYellow%22:%22yellow%22,%22sapUiBase%22:%22#000%22,%22sapUiBaseBorder%22:%22#000%22,%22sapUiBaseLine%22:%22#000%22,%22sapUiWhite%22:%22#FFFFFF%22,%22sapUiWhiteBG%22:%22#fff%22,%22sapUiExtraLightBG%22:%22#fff%22,%22sapUiLightBG%22:%22lightgray%22,%22sapUiMediumBG%22:%22gray%22,%22sapUiDarkBG%22:%22darkgray%22,%22sapUiDeepBG%22:%22black%22,%22sapUiBlackBG%22:%22#000000%22,%22sapUiHoverBG%22:%22grey%22,%22sapUiMediumAltBG%22:%22grey%22,%22sapUiDarkAltBG%22:%22darkgrey%22,%22sapUiButtonStandardBG%22:%22#fff%22,%22sapUiButtonEmphasizedBG%22:%22yellow%22,%22sapUiButtonNegativeBG%22:%22red%22,%22sapUiButtonPositiveBG%22:%22green%22,%22sapUiReadOnlyBG%22:%22grey%22,%22sapUiExtraLightText%22:%22lightgray%22,%22sapUiLightText%22:%22lightgray%22,%22sapUiMediumText%22:%22grey%22,%22sapUiDarkText%22:%22darkgrey%22,%22sapUiDeepText%22:%22black%22,%22sapUiText%22:%22#333%22,%22sapUiTextInverted%22:%22#fff%22,%22sapUiWhiteBorder%22:%22#fff%22,%22sapUiExtraLightBorder%22:%22lightgrey%22,%22sapUiLightBorder%22:%22grey%22,%22sapUiMediumBorder%22:%22#000%22,%22sapUiDarkBorder%22:%22#000%22,%22sapUiBlackBorder%22:%22#000%22,%22sapUiElement%22:%22lightgrey%22,%22sapUiInvertedElement%22:%22#ffffff%22,%22sapUiLightLine%22:%22lightgrey%22,%22sapUiMediumLine%22:%22grey%22,%22sapUiEmphasizedLine%22:%22#000%22,%22sapUiDarkLine%22:%22darkgrey%22,%22sapUiLightShadowTint%22:%22#ffffff%22,%22sapUiDarkShadowTint%22:%22#000000%22,%22sapUiFocus%22:%22#000000%22,%22sapUiInvertedFocus%22:%22#ffffff%22,%22sapUiTableRowBG%22:%22#FFFFFF%22,%22sapUiTableRowAlternatingBG%22:%22#FFFFFF%22,%22sapUiTableRowSelectionBG%22:%22#000%22,%22sapUiTableRowSelectionReadOnlyBG%22:%22#000%22,%22sapUiTableRowHoverBG%22:%22grey%22,%22sapUiListBG%22:%22#f7f7f7%22,%22sapUiTextColor%22:%22green%22,%22sapUiTextTitleColor%22:%22green%22,%22sapUiTextSelectionColor%22:%22green%22,%22sapUiTextDisabled%22:%22#ccc%22,%22sapUiTextSelection%22:%22#fff%22,%22sapUiTextfieldBackground%22:%22#FFFFFF%22,%22sapUiFontMonospaceFamily%22:%22Lucida Console%22,%22sapUiUx3ShellSideBarBaseWidth%22:%2240px%22,%22sapUiUx3ShellPaneOverflowButtonHeight%22:%22120px%22,%22sapUiUx3ExactLstCollapseWidth%22:%2224px%22,%22sapUiUx3ExactLstHeaderHeight%22:%2225px%22,%22sapUiNotificationBarBG_IE%22:%22grey%22,%22sapUiNotifierHoverColor%22:%22#000%22,%22sapUiNotificationText%22:%22#fff%22,%22sapUiNotificationTimestamp%22:%22#ababab%22,%22sapUiNotificationBarCalloutBorder%22:%22rgba%28128,128,128,0%29%22,%22sapUiNotificationBarCalloutBorder_IE%22:%22grey%22,%22sapUiNotificationBarCalloutArr%22:%22rgba%2851,51,51,0.98%29%22,%22sapUiNotificationBarHeight%22:%2240px%22,%22sapUiNotificationBarHeightMinimized%22:%220px%22,%22sapUiNotificationBarHeightMaximized%22:%2240%25%22,%22sapUiNotifierWidth%22:%2240px%22,%22sapUiRIIconPaddingXS%22:%221px%22,%22sapUiRIIconPaddingS%22:%220.125rem%22,%22sapUiRIIconPaddingM%22:%220.1875rem%22,%22sapUiRIIconPaddingL%22:%220.25rem%22,%22sapUiUx3ToolPopupArrowWidth%22:%2213px%22,%22sapUiUx3ToolPopupArrowHeight%22:%2224px%22,%22sapUiUx3ToolPopupArrowRightMarginCorrectionInverted%22:%22-7px%22,%22sapUiUx3TPPaddingBottom%22:%2250px%22,%22sapUiButtonEmphasizedDisabledBorderColor%22:%22#000%22,%22sapUiButtonEmphasizedDisabledBackground%22:%22#fff%22,%22sapUiButtonAcceptDisabledBorderColor%22:%22#4fb81e%22,%22sapUiButtonAcceptDisabledBackground%22:%22#fff%22,%22sapUiButtonRejectDisabledBorderColor%22:%22#e35500%22,%22sapUiButtonRejectDisabledBackground%22:%22#fff%22,%22sapUiToggleButtonPressedDisabledBackground%22:%22#000%22,%22sapUiToggleButtonPressedDisabledBorderColor%22:%22#000%22,%22sapUiToggleButtonPressedDisabledTextColor%22:%22#ccc%22,%22sapUiPositiveBG%22:%22#4fb81e%22,%22sapUiShadowTint%22:%22#000%22,%22sapUiShadow%22:%225px 5px 10px rgba%280,0,0,0.5%29%22,%22sapUiThemeDesignerCustomCss%22:%22true%22,%22sapUiMarginTiny%22:%220.5rem%22,%22sapUiMarginSmall%22:%221rem%22,%22sapUiMarginMedium%22:%222rem%22,%22sapUiMarginLarge%22:%223rem%22,%22sapUiEscapedEmptyString%22:%22%22,%22sapUiLightBoxMagnifyingGlassBorder%22:%22none%22,%22sapUiLightBoxMagnifyingGlassBackgroundColor%22:%22#7d7d7d%22,%22alpKpiTagBorderLeftColor%22:%22#EA5C1A%22,%22alpKpiTagPadding%22:%228px%22,%22alpKpiTagMarginTop%22:%222px%22,%22alpKpiTagBorderRadius%22:%223px%22,%22alpKpiTagSemanticStripWidth%22:%223px%22,%22alpKpiTagNameMargin%22:%221rem%22,%22alpKpiTagBackgroundColorBlack%22:%22#000000%22,%22alpKpiTagNameColorWhite%22:%22#ffffff%22,%22alpKpiCardMinHeight%22:%2237.5rem%22,%22alpKpiCardMinWidth%22:%2225rem%22,%22alpKpiTagContainerMarginLeft%22:%2221px%22,%22alpKpiTagHeight%22:%221.75rem%22,%22alpKpiTagLineHeight%22:%221.4%22,%22alpKpiTagLeftMargin%22:%220.5rem%22,%22alpKpiTagLeftPadding%22:%221rem%22,%22alpKpiTagBorderWidth%22:%221px%22,%22alpVFHCOverflowColor%22:%22#000000%22,%22alpVFHCOverflowBorderColor%22:%22#999999%22,%22alpVisualFilterMargin%22:%220 0.0625rem 0.0625rem 0.0625rem%22,%22alpChartTitlePadding%22:%220 0 0.5rem 0.25rem%22,%22alpVisualFilterChartHeight%22:%2210rem%22,%22alpVisualFilterPadding%22:%220 0 0 1rem%22,%22alpVisualFilterToolbarMargin%22:%222rem%22,%22alpVisualFilterToolbarSapMiBarMargin%22:%221.25rem%22,%22alpRectRxRy%22:%223px%22,%22alpVisualFilterToolbarClosed%22:%221rem%22,%22alpVFOverflowOpacity%22:%221.0%22,%22alpVFOverflowBorderColor%22:%22#427cac%22,%22alpVFOverflowBorderWidth%22:%221px%22,%22alpVFOverflowColor%22:%22#ffffff%22,%22alpVFOverflowFontSize%22:%220.875rem%22,%22alpselectedLinkDialogWidth%22:%2215rem%22,%22alpBackgroundColorLightGrey%22:%22#e6edf3%22,%22alpToolbarMarginBottom%22:%220.75rem%22,%22alpTableMarginBottom%22:%220.75rem%22,%22alpSapMBarChildMargin%22:%220%22,%22alpContentContainerMargin%22:%220%22,%22alpPageTitleHeight%22:%2232px%22,%22alpPageTitlePadding%22:%220 2rem 0.5rem 2.4rem%22,%22alpPageChartBoxPadding%22:%220.5rem 2rem 0.5rem 2.3rem%22,%22alpPageChartTitlePadding%22:%220 0 0.5rem 0.15rem%22,%22alpPageHeadingPadding%22:%220.5rem 2rem 0.5rem 1.8rem%22,%22alpPageHeadingHeight%22:%22auto%22,%22alpPageContentPadding%22:%221rem 2rem 1rem 2rem%22,%22alpZeroPadding%22:%220 0 0 0%22,%22alpGoButtonBarPadding%22:%220 0 0 0%22,%22sapBackgroundColorDefault%22:%22#fafafa%22,%22sapPrimary1%22:%22#3f5161%22,%22sapPrimary2%22:%22#427cac%22,%22sapPrimary3%22:%22#eff4f9%22,%22sapPrimary4%22:%22#ffffff%22,%22sapPrimary5%22:%22#fafafa%22,%22sapPrimary6%22:%22#bfbfbf%22,%22sapPrimary7%22:%22#333333%22,%22sapAccentColor1%22:%22#e09d00%22,%22sapAccentColor2%22:%22#e6600d%22,%22sapAccentColor3%22:%22#c14646%22,%22sapAccentColor4%22:%22#ab218e%22,%22sapAccentColor5%22:%22#678bc7%22,%22sapAccentColor6%22:%22#0092d1%22,%22sapAccentColor7%22:%22#1a9898%22,%22sapAccentColor8%22:%22#759421%22,%22sapErrorBackground%22:%22#fff%22,%22sapWarningBackground%22:%22#fef0db%22,%22sapSuccessBackground%22:%22#fff%22,%22sapNeutralBackground%22:%22#f4f5f6%22,%22sapErrorBorderColor%22:%22#ff6e17%22,%22sapWarningBorderColor%22:%22#f9a429%22,%22sapSuccessBorderColor%22:%22#64dd2c%22,%22sapNegativeTextColor%22:%22#e35500%22,%22sapCriticalTextColor%22:%22#e78c07%22,%22sapPositiveTextColor%22:%22#4fb81e%22,%22sapNeutralTextColor%22:%22#5e696e%22,%22sapErrorColor%22:%22#ff6e17%22,%22sapWarningColor%22:%22#f9a429%22,%22sapSuccessColor%22:%22#64dd2c%22,%22sapShell_BackgroundPatternColor%22:%22#fff%22,%22sapUiShellBackgroundPatternColor%22:%22#fff%22,%22sapUiPrimary1%22:%22#3f5161%22,%22sapUiPrimary2%22:%22#427cac%22,%22sapUiPrimary3%22:%22#eff4f9%22,%22sapUiPrimary4%22:%22#ffffff%22,%22sapUiPrimary5%22:%22#fafafa%22,%22sapUiPrimary6%22:%22#bfbfbf%22,%22sapUiPrimary7%22:%22#333333%22%7D,%22scopes%22:%7B%22sapContrast%22:%7B%22sapBrandColor%22:%22#427cac%22,%22sapHighlightColor%22:%22#91c8f6%22,%22sapBaseColor%22:%22#3f5161%22,%22sapBackgroundColor%22:%22#3f5161%22,%22sapTextColor%22:%22#fafafa%22,%22sapLinkColor%22:%22#7ed0ff%22,%22sapSelectedColor%22:%22#91c8f6%22,%22sapActiveColor%22:%22#91c8f6%22,%22sapHighlightTextColor%22:%22#2f3c48%22,%22sapTitleColor%22:%22#fafafa%22,%22sapNegativeColor%22:%22#ff8888%22,%22sapCriticalColor%22:%22#fabd64%22,%22sapPositiveColor%22:%22#abe2ab%22,%22sapNeutralColor%22:%22#d3d7d9%22,%22sapNegativeElementColor%22:%22#ff8888%22,%22sapCriticalElementColor%22:%22#fabd64%22,%22sapPositiveElementColor%22:%22#abe2ab%22,%22sapNeutralElementColor%22:%22#d3d7d9%22,%22sapContent_IconColor%22:%22#cae4fb%22,%22sapContent_ContrastIconColor%22:%22#2f3c48%22,%22sapContent_NonInteractiveIconColor%22:%22#97aabb%22,%22sapContent_MarkerIconColor%22:%22#8ca7d5%22,%22sapContent_FocusColor%22:%22#fff%22,%22sapContent_ContrastFocusColor%22:%22#000%22,%22sapContent_SearchHighlightColor%22:%22#058088%22,%22sapContent_LabelColor%22:%22#ddd%22,%22sapContent_DisabledTextColor%22:%22rgba%28250,250,250,0.5%29%22,%22sapContent_ContrastTextThreshold%22:%220.35%22,%22sapContent_ContrastTextColor%22:%22#2f3c48%22,%22sapContent_ForegroundColor%22:%22#4d6377%22,%22sapContent_ForegroundBorderColor%22:%22#889eb1%22,%22sapContent_ForegroundTextColor%22:%22#fafafa%22,%22sapShell_Background%22:%22#6585a3%22,%22sapShell_BackgroundImage%22:%22linear-gradient%28to bottom, #2b4863, #9ebfde%29%22,%22sapShell_BackgroundGradient%22:%22linear-gradient%28to bottom, #2b4863, #9ebfde%29%22,%22sapShell_TextColor%22:%22#fff%22,%22sapButton_BorderCornerRadius%22:%223px%22,%22sapButton_Background%22:%22#435667%22,%22sapButton_BorderColor%22:%22#a0b2c1%22,%22sapButton_TextColor%22:%22#cae4fb%22,%22sapButton_Hover_Background%22:%22#4f657a%22,%22sapButton_Hover_BorderColor%22:%22#a0b2c1%22,%22sapButton_Hover_TextColor%22:%22#2f3c48%22,%22sapButton_Emphasized_Background%22:%22#5496cd%22,%22sapButton_Emphasized_BorderColor%22:%22#408ac7%22,%22sapButton_Emphasized_TextColor%22:%22#fff%22,%22sapButton_Reject_Background%22:%22#435667%22,%22sapButton_Accept_Background%22:%22#435667%22,%22sapField_Background%22:%22#495e70%22,%22sapField_BorderColor%22:%22#7891a7%22,%22sapField_TextColor%22:%22#fff%22,%22sapField_HelpBackground%22:%22#495e70%22,%22sapField_Hover_Background%22:%22#495e70%22,%22sapField_Hover_BorderColor%22:%22#91c8f6%22,%22sapField_Hover_HelpBackground%22:%22#91c8f6%22,%22sapField_Focus_Background%22:%22#495e70%22,%22sapField_Focus_BorderColor%22:%22#7891a7%22,%22sapField_Focus_HelpBackground%22:%22#495e70%22,%22sapField_Disabled_TextColor%22:%22rgba%28255,255,255,0.5%29%22,%22sapField_ReadOnly_Background%22:%22transparent%22,%22sapField_ReadOnly_BorderColor%22:%22#7891a7%22,%22sapField_ReadOnly_HelpBackground%22:%22transparent%22,%22sapField_RequiredColor%22:%22#d88b8b%22,%22sapField_InvalidColor%22:%22#ff8888%22,%22sapField_InvalidBackground%22:%22#495e70%22,%22sapField_WarningColor%22:%22#fabd64%22,%22sapField_WarningBackground%22:%22#495e70%22,%22sapField_SuccessColor%22:%22#abe2ab%22,%22sapField_SuccessBackground%22:%22#495e70%22,%22sapGroup_TitleBorderColor%22:%22#69859d%22,%22sapGroup_TitleTextColor%22:%22#fafafa%22,%22sapGroup_ContentBackground%22:%22#3f5161%22,%22sapGroup_ContentBorderColor%22:%22#4f667a%22,%22sapToolbar_SeparatorColor%22:%22rgba%28239,244,249,0.2%29%22,%22sapList_HeaderBackground%22:%22#3c4d5c%22,%22sapList_HeaderBorderColor%22:%22#4d6377%22,%22sapList_HeaderTextColor%22:%22#fafafa%22,%22sapList_BorderColor%22:%22#4d6377%22,%22sapList_HighlightColor%22:%22#427cac%22,%22sapList_SelectionBackgroundColor%22:%22#496b8a%22,%22sapList_Background%22:%22#3f5161%22,%22sapList_Hover_Background%22:%22#45596a%22,%22sapScrollBar_FaceColor%22:%22#0099db%22,%22sapScrollBar_TrackColor%22:%22#3f5161%22,%22sapScrollBar_BorderColor%22:%22#0099db%22,%22sapScrollBar_SymbolColor%22:%22#cae4fb%22,%22sapScrollBar_Hover_FaceColor%22:%22#00a4ea%22,%22sapPageHeader_Background%22:%22#3f5161%22,%22sapPageHeader_BorderColor%22:%22#4f667a%22,%22sapPageHeader_TextColor%22:%22#fafafa%22,%22sapPageFooter_Background%22:%22#2f3c48%22,%22sapPageFooter_TextColor%22:%22#fafafa%22,%22sapInfobar_Background%22:%22#168282%22,%22sapObjectHeader_Background%22:%22#3f5161%22,%22sapTile_Background%22:%22#3f5161%22,%22sapTile_TitleTextColor%22:%22#fafafa%22,%22sapTile_TextColor%22:%22#ddd%22,%22sapTile_IconColor%22:%22#83c0f6%22,%22sapChart_Bad%22:%22#f55556%22,%22sapChart_Critical%22:%22#f4ac44%22,%22sapChart_Good%22:%22#69c683%22,%22sapChart_Neutral%22:%22#9ea8ad%22,%22sapChart_Sequence_1%22:%22#5cbae5%22,%22sapChart_Sequence_2%22:%22#b6d957%22,%22sapChart_Sequence_3%22:%22#fac364%22,%22sapChart_Sequence_Neutral%22:%22#9ea8ad%22,%22sapUiBrand%22:%22#427cac%22,%22sapUiHighlight%22:%22#91c8f6%22,%22sapUiBaseColor%22:%22#3f5161%22,%22sapUiBaseBG%22:%22#3f5161%22,%22sapUiGlobalBackgroundColor%22:%22#3f5161%22,%22sapUiBaseText%22:%22#fafafa%22,%22sapUiLink%22:%22#7ed0ff%22,%22sapUiSelected%22:%22#91c8f6%22,%22sapUiActive%22:%22#91c8f6%22,%22sapUiHighlightTextColor%22:%22#2f3c48%22,%22sapUiTextTitle%22:%22#fafafa%22,%22sapUiContentIconColor%22:%22#cae4fb%22,%22sapUiContentContrastIconColor%22:%22#2f3c48%22,%22sapUiContentNonInteractiveIconColor%22:%22#97aabb%22,%22sapUiContentMarkerIconColor%22:%22#8ca7d5%22,%22sapUiContentMarkerTextColor%22:%22#b7cfe4%22,%22sapUiContentImagePlaceholderBackground%22:%22#69859d%22,%22sapUiContentImagePlaceholderForegroundColor%22:%22#495e70%22,%22sapUiContentFocusColor%22:%22#fff%22,%22sapUiContentContrastFocusColor%22:%22#000%22,%22sapUiContentSearchHighlightColor%22:%22#058088%22,%22sapUiContentLabelColor%22:%22#ddd%22,%22sapUiContentDisabledTextColor%22:%22rgba%28250,250,250,0.5%29%22,%22sapUiContentContrastTextThreshold%22:%220.35%22,%22sapUiContentContrastTextColor%22:%22#2f3c48%22,%22sapUiContentForegroundColor%22:%22#4d6377%22,%22sapUiContentForegroundBorderColor%22:%22#889eb1%22,%22sapUiContentForegroundTextColor%22:%22#fafafa%22,%22sapUiShellBackground%22:%22#6585a3%22,%22sapUiShellBackgroundImage%22:%22linear-gradient%28to bottom, #2b4863, #9ebfde%29%22,%22sapUiShellBackgroundGradient%22:%22linear-gradient%28to bottom, #2b4863, #9ebfde%29%22,%22sapUiShellTextColor%22:%22#fff%22,%22sapUiButtonBackground%22:%22#435667%22,%22sapUiButtonBorderColor%22:%22#a0b2c1%22,%22sapUiButtonTextColor%22:%22#cae4fb%22,%22sapUiButtonHoverBackground%22:%22#4f657a%22,%22sapUiButtonHoverBorderColor%22:%22#a0b2c1%22,%22sapUiButtonHoverTextColor%22:%22#2f3c48%22,%22sapUiButtonEmphasizedBackground%22:%22#5496cd%22,%22sapUiButtonEmphasizedBorderColor%22:%22#408ac7%22,%22sapUiButtonEmphasizedTextColor%22:%22#fff%22,%22sapUiButtonRejectBackground%22:%22#435667%22,%22sapUiButtonAcceptBackground%22:%22#435667%22,%22sapUiFieldBackground%22:%22#495e70%22,%22sapUiFieldBorderColor%22:%22#7891a7%22,%22sapUiFieldTextColor%22:%22#fff%22,%22sapUiFieldHelpBackground%22:%22#495e70%22,%22sapUiFieldHoverBackground%22:%22#495e70%22,%22sapUiFieldHoverBorderColor%22:%22#91c8f6%22,%22sapUiFieldHoverHelpBackground%22:%22#91c8f6%22,%22sapUiFieldFocusBackground%22:%22#495e70%22,%22sapUiFieldFocusBorderColor%22:%22#7891a7%22,%22sapUiFieldFocusHelpBackground%22:%22#495e70%22,%22sapUiFieldReadOnlyBackground%22:%22transparent%22,%22sapUiFieldReadOnlyBorderColor%22:%22#7891a7%22,%22sapUiFieldReadOnlyHelpBackground%22:%22transparent%22,%22sapUiFieldDisabledTextColor%22:%22rgba%28255,255,255,0.5%29%22,%22sapUiFieldRequiredColor%22:%22#d88b8b%22,%22sapUiFieldInvalidColor%22:%22#ff8888%22,%22sapUiFieldInvalidBackground%22:%22#495e70%22,%22sapUiFieldWarningColor%22:%22#fabd64%22,%22sapUiFieldWarningBackground%22:%22#495e70%22,%22sapUiFieldSuccessColor%22:%22#abe2ab%22,%22sapUiFieldSuccessBackground%22:%22#495e70%22,%22sapUiGroupTitleBorderColor%22:%22#69859d%22,%22sapUiGroupTitleTextColor%22:%22#fafafa%22,%22sapUiGroupContentBackground%22:%22#3f5161%22,%22sapUiGroupContentBorderColor%22:%22#4f667a%22,%22sapUiToolbarSeparatorColor%22:%22rgba%28239,244,249,0.2%29%22,%22sapUiListHeaderBackground%22:%22#3c4d5c%22,%22sapUiListHeaderBorderColor%22:%22#4d6377%22,%22sapUiListHeaderTextColor%22:%22#fafafa%22,%22sapUiListBorderColor%22:%22#4d6377%22,%22sapUiListHighlightColor%22:%22#427cac%22,%22sapUiListSelectionBackgroundColor%22:%22#496b8a%22,%22sapUiListBackground%22:%22#3f5161%22,%22sapUiListHoverBackground%22:%22#45596a%22,%22sapUiScrollBarFaceColor%22:%22#0099db%22,%22sapUiScrollBarTrackColor%22:%22#3f5161%22,%22sapUiScrollBarBorderColor%22:%22#0099db%22,%22sapUiScrollBarSymbolColor%22:%22#cae4fb%22,%22sapUiScrollBarHoverFaceColor%22:%22#00a4ea%22,%22sapUiPageHeaderBackground%22:%22#3f5161%22,%22sapUiPageHeaderBorderColor%22:%22#4f667a%22,%22sapUiPageHeaderTextColor%22:%22#fafafa%22,%22sapUiPageFooterBackground%22:%22#2f3c48%22,%22sapUiPageFooterTextColor%22:%22#fafafa%22,%22sapUiInfobarBackground%22:%22#168282%22,%22sapUiObjectHeaderBackground%22:%22#3f5161%22,%22sapUiTileBackground%22:%22#3f5161%22,%22sapUiTileTitleTextColor%22:%22#fafafa%22,%22sapUiTileTextColor%22:%22#ddd%22,%22sapUiTileIconColor%22:%22#83c0f6%22,%22sapUiChartBad%22:%22#f55556%22,%22sapUiChartCritical%22:%22#f4ac44%22,%22sapUiChartGood%22:%22#69c683%22,%22sapUiChartNeutral%22:%22#9ea8ad%22,%22sapUiChartSequence1%22:%22#5cbae5%22,%22sapUiChartSequence2%22:%22#b6d957%22,%22sapUiChartSequence3%22:%22#fac364%22,%22sapUiChartSequenceNeutral%22:%22#9ea8ad%22,%22sapUiErrorBG%22:%22#500%22,%22sapUiWarningBG%22:%22#5c3803%22,%22sapUiSuccessBG%22:%22#174417%22,%22sapUiNeutralBG%22:%22#393e41%22,%22sapUiErrorBorder%22:%22#ff8888%22,%22sapUiWarningBorder%22:%22#fabd64%22,%22sapUiSuccessBorder%22:%22#abe2ab%22,%22sapUiNeutralBorder%22:%22#d3d7d9%22,%22sapUiNegativeElement%22:%22#ff8888%22,%22sapUiCriticalElement%22:%22#fabd64%22,%22sapUiPositiveElement%22:%22#abe2ab%22,%22sapUiNeutralElement%22:%22#d3d7d9%22,%22sapUiNegativeText%22:%22#ff8888%22,%22sapUiCriticalText%22:%22#fabd64%22,%22sapUiPositiveText%22:%22#abe2ab%22,%22sapUiNeutralText%22:%22#d3d7d9%22,%22sapUiNegative%22:%22#ff8888%22,%22sapUiCritical%22:%22#fabd64%22,%22sapUiPositive%22:%22#abe2ab%22,%22sapUiNeutral%22:%22#d3d7d9%22,%22sapUiErrorColor%22:%22#fbb%22,%22sapUiWarningColor%22:%22#fcd295%22,%22sapUiSuccessColor%22:%22#d1efd1%22,%22sapUiChartLabelHoverColor%22:%22#4f657a%22,%22sapUiChartLabelPressedColor%22:%22#427cac%22,%22sapUiChartCategoryAxisLabelFontColor%22:%22#fafafa%22,%22sapUiChartValueAxisLabelFontColor%22:%22#fafafa%22,%22sapUiChartCategoryAxisLineColor%22:%22#ccc%22,%22sapUiChartValueAxisLineColor%22:%22#ccc%22,%22sapUiChartCategoryAxisTickColor%22:%22#ccc%22,%22sapUiChartValueAxisTickColor%22:%22#ccc%22,%22sapUiChartLegendLabelFontColor%22:%22#fafafa%22,%22sapUiChartLegendTitleFontColor%22:%22#fafafa%22,%22sapUiChartPaletteUndefinedColor%22:%22#fafafa%22,%22sapUiChartGridlineColor%22:%22#999%22,%22sapUiChartReferenceLineColor%22:%22#fff%22,%22sapUiChartDataLabelFontColor%22:%22#fafafa%22,%22sapUiChartReferenceLineLabelColor%22:%22#fafafa%22,%22sapUiChartPopoverDataItemFontColor%22:%22#fafafa%22,%22sapUiChartPopoverGroupFontColor%22:%22#fafafa%22,%22sapUiChartScrollBarThumbColor%22:%22#0099db%22,%22sapUiChartScrollBarTrackColor%22:%22#3f5161%22,%22sapUiChartScrollBarThumbHoverColor%22:%22#00a4ea%22,%22sapUiChartMainTitleFontColor%22:%22#fafafa%22,%22sapUiChartAxisTitleFontColor%22:%22#fafafa%22,%22sapUiChartLightText%22:%22#fafafa%22,%22sapUiChartZeroAxisColor%22:%22#fff%22,%22sapUiChartDataPointBorderColor%22:%22#3f5161%22,%22sapUiChartDataPointBorderHoverSelectedColor%22:%22#fff%22,%22sapUiChartDataPointNotSelectedBackgroundOpacity%22:%220.7%22,%22sapUiChartCategoryAxisLabelFontHoverColor%22:%22#fafafa%22,%22sapUiChartCategoryAxisLabelFontPressedColor%22:%22#fafafa%22,%22sapUiChartTargetColor%22:%22#fff%22,%22sapUiChartTargetShadowColor%22:%22#000%22,%22sapUiChartBubbleBGOpacity%22:%220.9%22,%22sapUiChartScrollbarBorderColor%22:%22#0099db%22,%22sapUiChartNegativeLargeText%22:%22#f77c7c%22,%22sapUiChartCriticalLargeText%22:%22#f7c174%22,%22sapUiChartPositiveLargeText%22:%22#a0dbb1%22,%22sapUiChartNeutralLargeText%22:%22#f1f2f3%22,%22sapUiChartDataPointBG%22:%22#848f94%22,%22sapUiChartDataPointBGBorderColor%22:%22#848f94%22,%22sapUiChartDataLineColorWithBG%22:%22#333%22,%22sapUiChartDataLineColor%22:%22#fff%22,%22sapUiChartRadialRemainingCircle%22:%22#848f94%22,%22sapUiChartRadialRemainingCircleBorderColor%22:%22#848f94%22,%22sapUiChartRadialBG%22:%22transparent%22,%22sapUiChartPaletteSemanticBadLight3%22:%22#fbc4c4%22,%22sapUiChartPaletteSemanticBadLight2%22:%22#f99d9e%22,%22sapUiChartPaletteSemanticBadLight1%22:%22#f77c7c%22,%22sapUiChartPaletteSemanticBad%22:%22#f55556%22,%22sapUiChartPaletteSemanticBadDark1%22:%22#f33334%22,%22sapUiChartPaletteSemanticBadDark2%22:%22#ef0e0f%22,%22sapUiChartPaletteSemanticCriticalLight3%22:%22#fdecd5%22,%22sapUiChartPaletteSemanticCriticalLight2%22:%22#fad7a4%22,%22sapUiChartPaletteSemanticCriticalLight1%22:%22#f7c174%22,%22sapUiChartPaletteSemanticCritical%22:%22#f4ac44%22,%22sapUiChartPaletteSemanticCriticalDark1%22:%22#f19714%22,%22sapUiChartPaletteSemanticCriticalDark2%22:%22#de890d%22,%22sapUiChartPaletteSemanticGoodLight3%22:%22#d8f0df%22,%22sapUiChartPaletteSemanticGoodLight2%22:%22#b3e2c0%22,%22sapUiChartPaletteSemanticGoodLight1%22:%22#8ed4a2%22,%22sapUiChartPaletteSemanticGood%22:%22#69c683%22,%22sapUiChartPaletteSemanticGoodDark1%22:%22#45b765%22,%22sapUiChartPaletteSemanticGoodDark2%22:%22#3fa45b%22,%22sapUiChartPaletteSemanticNeutralLight3%22:%22#f1f2f3%22,%22sapUiChartPaletteSemanticNeutralLight2%22:%22#d5dadc%22,%22sapUiChartPaletteSemanticNeutralLight1%22:%22#bac1c4%22,%22sapUiChartPaletteSemanticNeutral%22:%22#9ea8ad%22,%22sapUiChartPaletteSemanticNeutralDark1%22:%22#848f94%22,%22sapUiChartPaletteSemanticNeutralDark2%22:%22#69767c%22,%22sapUiChartPaletteSequentialHue1Light3%22:%22#d7eef9%22,%22sapUiChartPaletteSequentialHue1Light2%22:%22#abdcf2%22,%22sapUiChartPaletteSequentialHue1Light1%22:%22#84cbeb%22,%22sapUiChartPaletteSequentialHue1%22:%22#5cbae5%22,%22sapUiChartPaletteSequentialHue1Dark1%22:%22#26a4de%22,%22sapUiChartPaletteSequentialHue1Dark2%22:%22#1a7eac%22,%22sapUiChartPaletteSequentialHue2Light3%22:%22#e9f3cb%22,%22sapUiChartPaletteSequentialHue2Light2%22:%22#d7eaa2%22,%22sapUiChartPaletteSequentialHue2Light1%22:%22#c6e17c%22,%22sapUiChartPaletteSequentialHue2%22:%22#b6d957%22,%22sapUiChartPaletteSequentialHue2Dark1%22:%22#9dc62d%22,%22sapUiChartPaletteSequentialHue2Dark2%22:%22#759421%22,%22sapUiChartPaletteSequentialHue3Light3%22:%22#fef9ee%22,%22sapUiChartPaletteSequentialHue3Light2%22:%22#fde5bd%22,%22sapUiChartPaletteSequentialHue3Light1%22:%22#fbd491%22,%22sapUiChartPaletteSequentialHue3%22:%22#fac364%22,%22sapUiChartPaletteSequentialHue3Dark1%22:%22#f8ac29%22,%22sapUiChartPaletteSequentialHue3Dark2%22:%22#dc8e07%22,%22sapUiChartPaletteSequentialNeutralLight3%22:%22#f1f2f3%22,%22sapUiChartPaletteSequentialNeutralLight2%22:%22#d5dadc%22,%22sapUiChartPaletteSequentialNeutralLight1%22:%22#b9c1c5%22,%22sapUiChartPaletteSequentialNeutral%22:%22#9ea8ad%22,%22sapUiChartPaletteSequentialNeutralDark1%22:%22#848f94%22,%22sapUiChartPaletteSequentialNeutralDark2%22:%22#69767c%22,%22sapUiChoroplethBG%22:%22#7999a9%22,%22sapUiChoroplethRegionBorder%22:%22#fff%22,%22sapUiChoroplethRegionBG%22:%22#d5dadc%22,%22sapUiMapLegendBG%22:%22#3f5161%22,%22sapUiMapLegendBorderColor%22:%22#fff%22,%22sapUiShellHoverBackground%22:%22#eff4f9%22,%22sapUiShellActiveBackground%22:%22#eff4f9%22,%22sapUiShellActiveTextColor%22:%22#2e5778%22,%22sapUiShellHoverToggleBackground%22:%22#fff%22,%22sapUiShellContainerBackground%22:%22#c4d8eb%22,%22sapUiShellAltContainerBackground%22:%22#1b2e40%22,%22sapUiUx3ShellGradientTop%22:%22rgba%28145,185,246,0.03%29%22,%22sapUiLinkActive%22:%22#7ed0ff%22,%22sapUiLinkVisited%22:%22#7ed0ff%22,%22sapUiLinkHover%22:%22#7ed0ff%22,%22sapUiLinkInverted%22:%22#fff%22,%22sapUiButtonIconColor%22:%22#cae4fb%22,%22sapUiButtonActiveBackground%22:%22#91c8f6%22,%22sapUiButtonActiveBorderColor%22:%22#91c8f6%22,%22sapUiButtonActiveTextColor%22:%22#2f3c48%22,%22sapUiButtonEmphasizedHoverBackground%22:%22#408ac7%22,%22sapUiButtonEmphasizedHoverBorderColor%22:%22#408ac7%22,%22sapUiButtonEmphasizedActiveBackground%22:%22#91c8f6%22,%22sapUiButtonEmphasizedActiveBorderColor%22:%22#91c8f6%22,%22sapUiButtonAcceptBorderColor%22:%22#abe2ab%22,%22sapUiButtonAcceptHoverBackground%22:%22#4f657a%22,%22sapUiButtonAcceptHoverBorderColor%22:%22#abe2ab%22,%22sapUiButtonAcceptActiveBackground%22:%22#abe2ab%22,%22sapUiButtonAcceptActiveBorderColor%22:%22#abe2ab%22,%22sapUiButtonAcceptTextColor%22:%22#abe2ab%22,%22sapUiButtonRejectBorderColor%22:%22#ff8888%22,%22sapUiButtonRejectHoverBackground%22:%22#4f657a%22,%22sapUiButtonRejectHoverBorderColor%22:%22#ff8888%22,%22sapUiButtonRejectActiveBackground%22:%22#ff8888%22,%22sapUiButtonRejectActiveBorderColor%22:%22#ff8888%22,%22sapUiButtonRejectTextColor%22:%22#f88%22,%22sapUiButtonLiteTextColor%22:%22#cae4fb%22,%22sapUiButtonLiteHoverBackground%22:%22rgba%2899,127,153,0.5%29%22,%22sapUiButtonLiteHoverBorderColor%22:%22rgba%2899,127,153,0.5%29%22,%22sapUiButtonLiteActiveBackground%22:%22#91c8f6%22,%22sapUiButtonLiteActiveBorderColor%22:%22#91c8f6%22,%22sapUiButtonHeaderTextColor%22:%22#cae4fb%22,%22sapUiButtonHeaderDisabledTextColor%22:%22#cae4fb%22,%22sapUiButtonFooterTextColor%22:%22#cae4fb%22,%22sapUiButtonFooterHoverBackground%22:%22rgba%2899,127,153,0.5%29%22,%22sapUiButtonActionSelectBackground%22:%22#2f3c48%22,%22sapUiButtonActionSelectBorderColor%22:%22#4d6377%22,%22sapUiButtonLiteActionSelectHoverBackground%22:%22#354451%22,%22sapUiToggleButtonPressedBackground%22:%22#62b0f2%22,%22sapUiToggleButtonPressedBorderColor%22:%22#4aa4f0%22,%22sapUiToggleButtonPressedTextColor%22:%22#2f3c48%22,%22sapUiToggleButtonPressedHoverBackground%22:%22#91c8f6%22,%22sapUiToggleButtonPressedHoverBorderColor%22:%22#91c8f6%22,%22sapUiSegmentedButtonBackground%22:%22#435667%22,%22sapUiSegmentedButtonBorderColor%22:%22#8199ad%22,%22sapUiSegmentedButtonTextColor%22:%22#cae4fb%22,%22sapUiSegmentedButtonHoverBackground%22:%22#4f657a%22,%22sapUiSegmentedButtonActiveBackground%22:%22#91c8f6%22,%22sapUiSegmentedButtonActiveTextColor%22:%22#2f3c48%22,%22sapUiSegmentedButtonSelectedBackground%22:%22#62b0f2%22,%22sapUiSegmentedButtonSelectedTextColor%22:%22#2f3c48%22,%22sapUiSegmentedButtonSelectedHoverBackground%22:%22#91c8f6%22,%22sapUiSegmentedButtonSelectedHoverBorderColor%22:%22#91c8f6%22,%22sapUiSegmentedButtonIconColor%22:%22#cae4fb%22,%22sapUiSegmentedButtonActiveIconColor%22:%22#2f3c48%22,%22sapUiSegmentedButtonSelectedIconColor%22:%22#2f3c48%22,%22sapUiSegmentedButtonFooterBorderColor%22:%22#a0b2c1%22,%22sapUiSegmentedButtonFooterHoverBackground%22:%22#4f657a%22,%22sapUiFieldActiveBackground%22:%22#91c8f6%22,%22sapUiFieldActiveBorderColor%22:%22#91c8f6%22,%22sapUiFieldActiveTextColor%22:%22#2f3c48%22,%22sapUiFieldPlaceholderTextColor%22:%22#c3d7e8%22,%22sapUiListTextColor%22:%22#fafafa%22,%22sapUiListVerticalBorderColor%22:%22#536b80%22,%22sapUiListActiveBackground%22:%22#427cac%22,%22sapUiListActiveTextColor%22:%22#fff%22,%22sapUiListSelectionHoverBackground%22:%22#4e7394%22,%22sapUiListFooterBackground%22:%22#2f3c48%22,%22sapUiListFooterTextColor%22:%22#fafafa%22,%22sapUiListGroupHeaderBackground%22:%22#3f5161%22,%22sapUiListTableGroupHeaderBackground%22:%22#3b4c5b%22,%22sapUiListTableGroupHeaderBorderColor%22:%22#69859e%22,%22sapUiListTableGroupHeaderTextColor%22:%22#b7cfe4%22,%22sapUiListTableFooterBorder%22:%22#69859e%22,%22sapUiListTableFixedBorder%22:%22#9dafc0%22,%22sapUiPageFooterBorderColor%22:%22#475b6d%22,%22sapUiInfobarHoverBackground%22:%22#147575%22,%22sapUiInfobarActiveBackground%22:%22#427cac%22,%22sapUiObjectHeaderBorderColor%22:%22#4f667a%22,%22sapUiCalendarColorToday%22:%22#e57acf%22,%22sapUiDragAndDropColor%22:%22#97aabb%22,%22sapUiDragAndDropBackground%22:%22#3f5161%22,%22sapUiDragAndDropBorderColor%22:%22#889eb1%22,%22sapUiDragAndDropActiveColor%22:%22#7ed0ff%22,%22sapUiDragAndDropActiveBackground%22:%22rgba%28126,208,255,0.1%29%22,%22sapUiDragAndDropActiveBorderColor%22:%22#7ed0ff%22,%22sapUiShadowLevel0%22:%220 0 0 1px rgba%28255,255,255,0.2%29%22,%22sapUiShadowLevel1%22:%220 0.125rem 0.5rem 0 rgba%280,0,0,0.2%29, 0 0 0 1px rgba%28255,255,255,0.2%29%22,%22sapUiShadowLevel2%22:%220 0.625rem 1.875rem 0 rgba%280,0,0,0.2%29, 0 0 0 1px rgba%28255,255,255,0.2%29%22,%22sapUiShadowLevel3%22:%220 1.25rem 5rem 0 rgba%280,0,0,0.2%29, 0 0 0 1px rgba%28255,255,255,0.2%29%22,%22sapUiShadowText%22:%220 0 0.125rem #000%22,%22sapUiShadowHeader%22:%22inset 0 -0.125rem #4f667a, 0 0.125rem 0 0 #3f5161%22,%22sapUiUx3ShellHeaderImageURL%22:%22%22,%22sapUiExtraLightBG%22:%22#3f5161%22,%22sapUiButtonStandardBG%22:%22#3f5161%22,%22sapUiText%22:%22#fafafa%22,%22sapUiEmphasizedLine%22:%22#91c8f6%22,%22sapUiTableRowSelectionBG%22:%22#91c8f6%22,%22sapUiTableRowSelectionReadOnlyBG%22:%22#91c8f6%22,%22sapUiTextDisabled%22:%22#fff%22,%22sapUiNotifierHoverColor%22:%22#91c8f6%22,%22sapUiNotificationTimestamp%22:%22#fff%22,%22sapUiButtonEmphasizedDisabledBorderColor%22:%22#408ac7%22,%22sapUiButtonEmphasizedDisabledBackground%22:%22#5496cd%22,%22sapUiButtonAcceptDisabledBorderColor%22:%22#abe2ab%22,%22sapUiButtonAcceptDisabledBackground%22:%22#435667%22,%22sapUiButtonRejectDisabledBorderColor%22:%22#ff8888%22,%22sapUiButtonRejectDisabledBackground%22:%22#435667%22,%22sapUiToggleButtonPressedDisabledBackground%22:%22#62b0f2%22,%22sapUiToggleButtonPressedDisabledBorderColor%22:%22#4aa4f0%22,%22sapUiToggleButtonPressedDisabledTextColor%22:%22#f2f8fe%22,%22sapUiPositiveBG%22:%22#abe2ab%22,%22sapUiThemeDesignerCustomCss%22:%22false%22,%22sapUiEscapedEmptyString%22:%22%22,%22sapUiLightBoxMagnifyingGlassBackgroundColor%22:%22#7ed0ff%22,%22sapBackgroundColorDefault%22:%22#3f5161%22,%22sapErrorBackground%22:%22#500%22,%22sapWarningBackground%22:%22#5c3803%22,%22sapSuccessBackground%22:%22#174417%22,%22sapNeutralBackground%22:%22#393e41%22,%22sapErrorBorderColor%22:%22#ff8888%22,%22sapWarningBorderColor%22:%22#fabd64%22,%22sapSuccessBorderColor%22:%22#abe2ab%22,%22sapNegativeTextColor%22:%22#ff8888%22,%22sapCriticalTextColor%22:%22#fabd64%22,%22sapPositiveTextColor%22:%22#abe2ab%22,%22sapNeutralTextColor%22:%22#d3d7d9%22,%22sapErrorColor%22:%22#ff8888%22,%22sapWarningColor%22:%22#fabd64%22,%22sapSuccessColor%22:%22#abe2ab%22,%22sapShell_BackgroundPatternColor%22:%22rgba%28255,255,255,0.08%29%22,%22sapUiShellBackgroundPatternColor%22:%22rgba%28255,255,255,0.08%29%22%7D%7D%7D')}