/* Enter your custom styles here */
.circular {
    object-fit: cover;
    border-radius: 999999px;
    -webkit-border-radius: 999999px;
    -moz-border-radius: 999999px;
}

.agendaDetailText {
	background-color: #f2f2f2;
	border-radius: 3px;
	padding: 12px;
}

.agendaDetailTitle {
	padding: 12px 0 4px 12px;
}

.slideTile {
	width: 1000px;
}

a, a:active, a:focus, 
button, button:focus, button:active, 
.btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: none;
    outline: 0;
}

input::-moz-focus-inner {
    border: 0;
}