/**
* Copyright (c) 2012-2016 SAP SE, All Rights Reserved
*
* Theming Engine 1.28.3
* data:{"Path": "UI5.sap/ui/core.cxcwebsite34.custom", "PathPattern": "/%frameworkId%/%libId%/themes/%themeId%/%fileId%.css", "IECssRuleLimitFiles": [], "Extends": ["sap_belize","base"], "Version": { "Build":"1.48.8.20171010160132", "Source": "1.48.8", "Engine": "1.28.3"}}
*/

.sapThemeMetaData-UI5-sap-ui-core{background-image: url('data:text/plain;utf-8,{"Path": "UI5.sap/ui/core.cxcwebsite34.custom", "PathPattern": "/%frameworkId%/%libId%/themes/%themeId%/%fileId%.css", "IECssRuleLimitFiles": [], "Extends": ["sap_belize","base"], "Version": { "Build":"1.48.8.20171010160132", "Source": "1.48.8", "Engine": "1.28.3"}}');}
/******************* FILE /Base/baseLib/baseTheme/base.less (Version 11.0.3) *******************/
.sapSvgLibs {
  background-image: none, url(../../../../../../Base/baseLib/sap_belize/svg/libs/SAPGUI-icons.svg), url(../../../../../../Base/baseLib/sap_belize/svg/libs/SAPWeb-icons.svg);
}
.sapSvgIconPositive {
  fill: #4fb81e !important;
}
.sapSvgIconCritical {
  fill: #e78c07 !important;
}
.sapSvgIconNegative {
  fill: #e35500 !important;
}
/******************* FILE /Base/baseLib/sap_goldreflection/base.less (Version 11.0.3) *******************/
/******************* FILE /Base/baseLib/sap_bluecrystal/base.less (Version 11.0.3) *******************/
/******************* FILE /Base/baseLib/sap_belize/base.less (Version 11.0.3) *******************/
/******************* FILE /Base/baseLib/cxcwebsite34/custom.less (Version 11.0.3) *******************/


/******************* FILE /Base/baseLib/cxcwebsite34/base.less (Version 11.0.3) *******************/
/******************* FILE /UI5/sap/ui/core/themes/base/global.less (Version 1.48.8) *******************/


/******************* FILE /UI5/sap/ui/core/themes/sap_belize/global.less (Version 1.48.8) *******************/
/******************* FILE /UI5/sap/ui/core/themes/cxcwebsite34/custom.less (Version 1.48.8) *******************/

/* MENU NAVIGATION */
.sapMBar {
  background-color: #000000 !important;
  color: #ffffff;
  text-shadow: none !important;
}
.sapMBar.sapMIBar span,
.sapMBar.sapMIBar span::before {
  color: #fff;
  text-shadow: none;
}
.sapMPopoverArr:after {
  background-color: #000000 !important;
}
.megaMenu {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6rem;
  box-sizing: border-box;
  /* SAP Logo */
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='92' height='45' viewBox='0 0 92 45'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='45.483' x2='45.483' y2='45.001'%3E%3Cstop offset='0' stop-color='%2300AEEF'/%3E%3Cstop offset='.212' stop-color='%230097DC'/%3E%3Cstop offset='.519' stop-color='%23007CC5'/%3E%3Cstop offset='.792' stop-color='%23006CB8'/%3E%3Cstop offset='1' stop-color='%230066B3'/%3E%3C/linearGradient%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='url%28%23a%29' d='M0 45h45.974L90.966 0H0v45'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' fill='%23fff' d='M53.984 9H45l.03 21.13-7.823-21.137H29.45l-6.678 17.653c-.71-4.492-5.354-6.042-9.008-7.203-2.413-.775-4.974-1.915-4.948-3.175.02-1.034 1.37-1.993 4.053-1.85 1.8.097 3.39.242 6.553 1.77l3.11-5.42C19.648 9.3 15.66 8.373 12.39 8.37h-.02c-3.813 0-6.988 1.235-8.956 3.27-1.372 1.42-2.112 3.226-2.142 5.223-.05 2.748.957 4.696 3.073 6.253 1.788 1.31 4.075 2.16 6.09 2.784 2.485.77 4.515 1.44 4.49 2.866-.02.52-.216 1.006-.59 1.398-.62.64-1.57.88-2.885.906-2.537.054-4.417-.345-7.413-2.116L1.27 34.444C4.263 36.146 7.44 37 11.05 37l.812-.006c3.142-.057 5.692-.81 7.718-2.44.116-.093.22-.187.328-.282l-.34 1.752 7.58-.024 1.36-3.482c1.43.488 3.056.758 4.782.758 1.682 0 3.264-.256 4.667-.716l.948 3.44 13.6.013.033-7.938h2.894c6.995 0 11.13-3.56 11.13-9.53C66.56 11.896 62.54 9 53.984 9zM33.29 27.062c-1.045 0-2.025-.182-2.868-.502l2.836-8.955h.055l2.79 8.98c-.84.3-1.797.477-2.814.477zm21.22-5.145h-1.974V14.7h1.975c2.63 0 4.73.876 4.73 3.562-.002 2.78-2.1 3.655-4.73 3.655'/%3E%3Cpath fill='none' d='M0 0h92v45H0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0.5rem 0.5rem;
  background-size: 4rem;
}
.megaMenu li {
  color: #fff;
  text-shadow: none !important;
}
.megaMenu li:active {
  box-shadow: 0px 0px 1rem #fff;
}
.sapUiMnuItm {
  border-radius: 0px !important;
  cursor: pointer;
}
.sapUiMnuItmHov {
  background-color: #fff !important;
  color: #000 !important;
}
.sapUiMnuItmSubMnuOpn {
  background-color: #fff !important;
  color: #000 !important;
  text-shadow: 2px 2px #000000;
}
.sapMText {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.sapMFooter-CTX {
  background-color: #efefef !important;
}
/* BUTTONS */
.sapMBtnText,
.sapMBtnText:hover {
  text-shadow: none !important;
}
.sapMBtnDefault {
  color: #333333 !important;
  text-shadow: none !important;
}
.sapMBtnDefault:hover {
  color: #ffffff !important;
}
.sapMBtnDefault:active {
  color: #ffffff !important;
}
.sapMBtnIcon {
  color: #333333 !important;
}
.card2_link,
.card3_link,
.card4_link,
.list_blog_item a {
  border-radius: 0px !important;
  border: 1px solid #000000 !important;
  color: #000000 !important;
}
.card2_link:hover,
.card3_link:hover,
.card4_link:hover,
.list_blog_item a:hover {
  color: #ffffff !important;
  background-color: #000000 !important;
  text-shadow: none !important;
}
.card2_link:active,
.card3_link:active,
.card4_link:active,
.list_blog_item a:active {
  color: #ffffff !important;
  text-shadow: none !important;
  border: 1px solid #000000 !important;
  background-color: #333333 !important;
}
/* HEADERS */
.header_item {
  text-align: center;
  margin-top: 12rem;
  margin-bottom: 2rem;
  padding: 1.5rem !important;
  font-size: 2.5rem !important;
  line-hight: 3rem !important;
  border-bottom: 1px solid #000000;
  color: #000000 !important;
}
.header_item.phone {
  font-size: 1.5rem !important;
  line-height: 1.75rem !important;
}
.article_header {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #000000 !important;
}
.text_box .title,
.card4_title,
.card3_title,
.card2_title {
  font-size: 1.25rem !important;
  line-height: 1.425 !important;
  font-weight: bold !important;
  color: #000000 !important;
  max-height: none !important;
}
/* SECTIONS */
.section {
  background: none !important;
}
.sapUiRespSection {
  padding-top: 0px !important;
}
.sapMDialog {
  box-shadow: 0px 0px 1rem #000000;
  transition: box-shadow 0.3s ease-in-out;
}
/* CARDS */
.card3_image_box {
  height: 50% !important;
}
.card4_text_box {
  text-align: left !important;
}
.card4_image_box {
  border-radius: 0px !important;
}
.card2_item,
.card3_item,
.card4_item {
  border: 0px !important;
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
  background: none;
  border-radius: 0.2rem !important;
}
.card2_item:hover,
.card3_item:hover,
.card4_item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.card2_link,
.card3_link,
.card4_link {
  display: none !important;
}
/* for the small overlay cards in the portal widget editor */
.item-text {
  color: #333333 !important;
}
/* IMAGES */
.list_image {
  background-size: cover !important;
}
.imageHeader_image_box {
  -webkit-animation: fadein 1s ease-out forwards;
  /* Safari 4+ */
  -moz-animation: fadein 1s ease-out forwards;
  /* Fx 5+ */
  -o-animation: fadein 1s ease-out forwards;
  /* Opera 12+ */
  animation: fadein 1s ease-out forwards;
  /* IE 10+, Fx 29+ */
}
.imageCarousel_image {
  /*    box-shadow: -24vw 0px 0px rgba(240, 171, 0, 0.40) inset, -16vw 0px 0px rgba(240, 171, 0, 0.30) inset, -8vw 0px 0px rgba(240, 171, 0, 1) inset;*/
}
.imageCarousel_text_box {
  top: auto;
  bottom: 0px;
  text-align: right;
  background-color: #ffffff !important;
  color: #333333 !important;
  font-weight: bold;
}
.card2_image,
.card3_image,
.card4_image {
  -webkit-animation: fadein 2s ease-out forwards;
  /* Safari 4+ */
  -moz-animation: fadein 2s ease-out forwards;
  /* Fx 5+ */
  -o-animation: fadein 2s ease-out forwards;
  /* Opera 12+ */
  animation: fadein 2s ease-out forwards;
  /* IE 10+, Fx 29+ */
}
/* BLOGS */
.list_blog_item {
  border: none !important;
  margin-bottom: 3rem !important;
  -webkit-animation: fadein 2s ease-out forwards;
  /* Safari 4+ */
  -moz-animation: fadein 2s ease-out forwards;
  /* Fx 5+ */
  -o-animation: fadein 2s ease-out forwards;
  /* Opera 12+ */
  animation: fadein 2s ease-out forwards;
  /* IE 10+, Fx 29+ */
}
.list_blog_item a {
  display: none !important;
}
.list_blog_item .image_box {
  height: 100% !important;
  min-height: 100px !important;
  padding-bottom: 3rem !important;
  box-sizing: border-box !important;
  overflow: hidden !important;
}
.cards-control .list_blog_item .image_box {
  height: 45% !important;
}
/* ANIMATIONS */
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

