/**
* Copyright (c) 2012-2016 SAP SE, All Rights Reserved
*
* Theming Engine 1.28.3
* data:{"Path": "UR.flash.cxcwebsite34.standards", "PathPattern": "/%frameworkId%/%libId%/%themeId%/%fileId%.css", "IECssRuleLimitFiles": [], "Extends": ["sap_belize","sap_bluecrystal","sap_goldreflection","baseTheme"], "Tags": ["Fiori_2"], "Version": { "Build":"10.30.7.274797.20171012092435", "Source": "10.30.7.274797.0", "Engine": "1.28.3"}}
*/


/**
* Base.baseLib.baseTheme.base (Version 11.0.3)
*/

.sapSvgLibs {
  background-image: none, url('../../../Base/baseLib/sap_belize/svg/libs/SAPGUI-icons.svg'), url('../../../Base/baseLib/sap_belize/svg/libs/SAPWeb-icons.svg');
}
.sapSvgIconPositive {
  fill: #4fb81e !important;
}
.sapSvgIconCritical {
  fill: #e78c07 !important;
}
.sapSvgIconNegative {
  fill: #e35500 !important;
}

/**
* UR.baseLib.baseTheme.base (Version 10.30.7.274797.0)
*/


/**
* UR.baseLib.baseTheme.standards (Version 10.30.7.274797.0)
*/


/**
* UR.flash.baseTheme.base (Version 10.30.7.274797.0)
*/

Global {
  modalTransparencyBlur: 0;
}
Application {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
}
Text {
  color: #000;
  leading: 0;
  padding-top: 2;
  padding-right: 2;
  padding-bottom: 2;
  padding-left: 2;
}
Label {
  color: #666;
  disabledLabelFontColor: ".DisabledLabelFontColor";
  padding-top: 0;
  padding-right: 4px;
  padding-bottom: 0;
  padding-left: 7px;
}
.DisabledLabelFontColor {
  color: #333;
}
TextInput {
  border-color: transparent;
  color: #000;
  background-color: #ccc;
  border-thickness: 1;
  corner-radius: 2;
  disabledTextInputStyle: ".DisabledTextInputStyle";
  border-style: solid;
}
TextArea {
  border-color: transparent;
  color: #000;
  background-color: #ccc;
  border-thickness: 1;
  corner-radius: 2;
  padding-top: 0;
  padding-right: 2px;
  padding-bottom: 0;
  padding-left: 2px;
  border-style: solid;
  disabledTextAreaStyle: ".DisabledTextInputStyle";
}
ComboBox {
  border-style: solid;
  border-thickness: 1;
  corner-radius: 2;
  font-weight: normal;
  fill-alphas: 1, 1, 1, 1;
  background-color: #f2f2f2;
  border-color: transparent;
  color: #333;
  comboBoxRollOverStyle: ".ComboBoxRollOverStyle";
  comboBoxSelectionStyle: ".ComboBoxSelectionStyle";
  comboBoxExtensionStyle: ".ComboBoxExtensionStyle";
}
.ComboBoxExtensionStyle {
  background-color: #ccc;
}
.ComboBoxRollOverStyle {
  background-color: #e3e3e3;
  color: #333;
}
.ComboBoxSelectionStyle {
  background-color: #fff;
  color: #333;
}
Panel {
  border-style: solid;
  border-thickness: 1;
  corner-radius: 3;
  vertical-gap: 0;
  drop-shadow-enabled: true;
  shadow-direction: right;
  border-color: rgba(0,0,0, 0.07);
  highlightAlphas: 0, 0;
  background-color: #fff;
  padding-top: 1;
  padding-right: 1;
  padding-bottom: 1;
  padding-left: 1;
  panelBodyStyle: ".PanelBodyStyle";
}
.PanelBodyStyle {
  background-color: #fff;
}
HScrollBar {
  scrollbar-darkshadow-color: #fff;
  scrollbar-face-color: #fff;
  scrollbar-track-color: #fff;
  scrollbar-arrow-color: #666;
  corner-radius: 2;
  highlightAlphas: 0, 0;
  fillAlphas: 1, 1, 1, 1;
  thumbOffset: 1;
}
VScrollBar {
  scrollbar-darkshadow-color: #fff;
  scrollbar-face-color: #fff;
  scrollbar-track-color: #fff;
  scrollbar-arrow-color: #666;
  corner-radius: 2;
  highlightAlphas: 0, 0;
  fillAlphas: 1, 1, 1, 1;
  thumbOffset: 1;
}
DateField {
  dateChooserStyleName: ".DateChooserStyle";
}
.DateChooserStyle {
  border-color: #c5c5c5;
  background-color: #fff;
  color: #333;
  dateChooserSelectionStyle: ".DateChooserSelectionStyle";
  border-style: solid;
}
.DateChooserSelectionStyle {
  background-color: #000;
}
Button {
  border-color: #000;
  color: #333;
  corner-radius: 2;
  buttonDisabledStyle: ".ButtonDisabledStyle";
  background-color: #fff;
  fillAlphas: 1, 1;
  text-decoration: none;
  buttonHoveredStyle: ".ButtonHoveredStyle";
  padding-top: 0;
  padding-right: 5px;
  padding-bottom: 0;
  padding-left: 5px;
  border-style: solid;
  font-weight: normal;
  text-align: center;
}
.ButtonDisabledStyle {
  color: #333;
}
.ButtonHoveredStyle {
  border-color: #000;
}
TabNavigator {
  background-color: #fff;
  border-color: #333333;
  border-style: solid;
  border-thickness: 1;
  selectedTabTextStyleName: ".SAPSelectedTab";
  height: 26px;
  fillAlphas: 1, 1;
  highlightAlphas: 0, 0;
}
.SAPSelectedTab {
  font-weight: normal;
  color: #333;
}
Tab {
  border-color: #333333;
  notSelectedTabBGStyle: ".NotSelectedTabBGStyle";
  background-color: #cacaca;
}
.NotSelectedTabBGStyle {
  background-color: #fff;
}
TabBar {
  padding-left: 0;
}
DataGrid {
  background-color: #f2f2f2;
  dataGridHeaderStyle: ".DataGridHeaderStyle";
  horizontalGridLines: true;
  dataGridHZGridLineStyle: ".DataGridHZGridLineStyle";
  dataGridVGridLineStyle: ".DataGridVGridLineStyle";
  useRollOver: false;
  dataGridSelectionStyle: ".DataGridSelectionStyle";
  color: #000;
  alternatingItemColors: ".DGAlternatingItemColor1",".DGAlternatingItemColor2";
  border-color: rgba(0,0,0, 0.07);
}
.DataGridHeaderStyle {
  background-color: #fff;
}
.DataGridVGridLineStyle {
  border-color: rgba(0,0,0, 0.07);
}
.DataGridHZGridLineStyle {
  border-color: rgba(0,0,0, 0.07);
}
.DataGridSelectionStyle {
  background-color: #cacaca;
  color: #000;
}
.DGAlternatingItemColor1 {
  background-color: #f2f2f2;
}
.DGAlternatingItemColor2 {
  background-color: #eff7fb;
}
LinkButton {
  color: #7d7d7d;
  linkButtonRollOverStyle: ".LinkButtonRollOverStyle";
  linkButtonSelectedStyle: ".LinkButtonSelectedStyle";
  linkButtonDisabledStyle: ".LinkButtonDisabledStyle";
}
.LinkButtonRollOverStyle {
  color: #7d7d7d;
  background-color: #fff;
}
.LinkButtonSelectedStyle {
  color: #7d7d7d;
}
.LinkButtonDisabledStyle {
  color: #7d7d7d;
}
MenuBar {
  fillAlphas: 1, 1;
  background-color: transparent;
  border-color: #c5c5c5;
  color: #333;
  menuBarDisabledStyle: ".MenuBarDisabledStyle";
  menuBarSelectStyle: ".MenuBarSelectStyle";
  highlightAlphas: 0, 0;
}
.MenuBarDisabledStyle {
  color: #333;
}
.MenuBarSelectStyle {
  color: #fff;
}
Menu {
  background-color: #f2f2f2;
  color: #333;
  menuRollOverStyle: ".MenuRollOverStyle";
  menuDisabledStyle: ".MenuDisabledStyle";
}
.MenuRollOverStyle {
  background-color: #e3e3e3;
}
.MenuDisabledStyle {
  background-color: #f2f2f2;
  color: rgba(51,51,51,0.5);
}
List {
  background-color: #ccc;
  border-color: transparent;
  border-style: solid;
  color: #000;
  listSelectionStyle: ".ListSelectionStyle";
  listDisabledStyle: ".ListDisabledStyle";
  useRollOver: false;
}
Alert {
  border-style: solid;
  border-thickness: 1;
  corner-radius: 3;
  vertical-gap: 0;
  border-color: rgba(0,0,0, 0.07);
  alertTitleStyle: ".AlertTitleStyle";
  titleStyleName: ".SAPAlertTitle";
  messageStyleName: ".SAPAlertMessage";
}
.AlertTitleStyle {
  background-color: #2e6695;
}
.SAPAlertTitle {
  color: #333;
  fontWeight: bold;
}
.SAPAlertMessage {
  color: #000;
}
Tree {
  background-color: transparent;
  border-color: #dedede;
  borderStyle: solid;
  borderThickness: 1;
  cornerRadius: 2;
  color: #333;
  treeLevel1Style: ".TreeLevel1Style";
  treeLevel2Style: ".TreeLevel2Style";
  treeLevel3Style: ".TreeLevel3Style";
  treeLevel4Style: ".TreeLevel4Style";
  useRollOver: false;
  treeSelectionStyle: ".TreeSelectionStyle";
  depthColors: ".TreeLevel1Style", ".TreeLevel2Style", ".TreeLevel3Style", ".TreeLevel4Style";
}
.TreeLevel1Style {
  background-color: #f2f2f2;
}
.TreeLevel2Style {
  background-color: #f2f2f2;
}
.TreeLevel3Style {
  background-color: #f2f2f2;
}
.TreeLevel4Style {
  background-color: #f2f2f2;
}
.TreeSelectionStyle {
  background-color: #cacaca;
  color: rgba(51,51,51,0.5);
}
ProgressBar {
  border-color: transparent;
  background-color: #5e696e;
  color: #333;
  height: 26px;
  progressBarTrackStyle: ".ProgressBarTrackStyle";
}
.ProgressBarTrackStyle {
  background-color: #fff;
}
.SAPSeries1 {
  stroke: #658fc5;
  fill: #7fa8de;
}
.SAPSeries2 {
  stroke: #adc566;
  fill: #c4dd7c;
}
.SAPSeries3 {
  stroke: #e6cc57;
  fill: #ffe571;
}
.SAPSeries4 {
  stroke: #ab9ad3;
  fill: #c1b0eb;
}
.SAPSeries5 {
  stroke: #90b3ac;
  fill: #a9cdc6;
}
.SAPSeries6 {
  stroke: #ae9370;
  fill: #c7ac8a;
}
.SAPSeries7 {
  stroke: #c371a3;
  fill: #dc8bbc;
}
.SAPSeries8 {
  stroke: #ffffff;
  fill: #fff;
}
.SAPSeries9 {
  stroke: #7a952b;
  fill: #91ab43;
}
.SAPSeries10 {
  stroke: #d8a900;
  fill: #f1c20a;
}
WDAnalyticsChart {
  chartSeriesStyles: ".SAPSeries1", ".SAPSeries2", ".SAPSeries3", ".SAPSeries4", ".SAPSeries5", ".SAPSeries6", ".SAPSeries7", ".SAPSeries8", ".SAPSeries9", ".SAPSeries10";
}

/**
* UR.flash.baseTheme.standards (Version 10.30.7.274797.0)
*/


/**
* Base.baseLib.sap_goldreflection.base (Version 11.0.3)
*/


/**
* UR.baseLib.sap_goldreflection.base (Version 10.30.7.274797.0)
*/


/**
* UR.baseLib.sap_goldreflection.standards (Version 10.30.7.274797.0)
*/


/**
* UR.flash.sap_goldreflection.base (Version 10.30.7.274797.0)
*/


/**
* UR.flash.sap_goldreflection.standards (Version 10.30.7.274797.0)
*/


/**
* Base.baseLib.sap_bluecrystal.base (Version 11.0.3)
*/


/**
* UR.baseLib.sap_bluecrystal.base (Version 10.30.7.274797.0)
*/


/**
* UR.baseLib.sap_bluecrystal.standards (Version 10.30.7.274797.0)
*/


/**
* UR.flash.sap_bluecrystal.base (Version 10.30.7.274797.0)
*/


/**
* UR.flash.sap_bluecrystal.standards (Version 10.30.7.274797.0)
*/


/**
* Base.baseLib.sap_belize.base (Version 11.0.3)
*/


/**
* UR.baseLib.sap_belize.base (Version 10.30.7.274797.0)
*/


/**
* UR.baseLib.sap_belize.standards (Version 10.30.7.274797.0)
*/


/**
* UR.flash.sap_belize.base (Version 10.30.7.274797.0)
*/


/**
* UR.flash.sap_belize.standards (Version 10.30.7.274797.0)
*/


/**
* Base.baseLib.cxcwebsite34.custom (Version 11.0.3)
*/


/**
* Base.baseLib.cxcwebsite34.base (Version 11.0.3)
*/


/**
* UR.baseLib.cxcwebsite34.base (Version 10.30.7.274797.0)
*/


/**
* UR.baseLib.cxcwebsite34.standards (Version 10.30.7.274797.0)
*/


/**
* UR.flash.cxcwebsite34.custom (Version 10.30.7.274797.0)
*/


/**
* UR.flash.cxcwebsite34.base (Version 10.30.7.274797.0)
*/


/**
* UR.flash.cxcwebsite34.standards (Version 10.30.7.274797.0)
*/

